<!doctype html>
<html>
<head>
<title>Register Changes Between v1.4 and v1.5</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<body>
<h2>Register Changes Between v1.4 and v1.5</h2>
<h3>Modules with Registers Removed</h3><table>
<tr valign=top><th width=20%>Modules</th><th width=80%>Registers</th></tr></table>
<h3>Modules with Changes to Registers</h3><table>
<tr valign=top><th width=20%>Modules</th><th width=80%>Registers</th></tr><tr valign=top><td><a href=# onclick=gotoTopic("mod___dp.html")>dp</a></td><td><a href=# onclick=gotoTopic("dp___dp_transmit_prbs7.html")>dp_transmit_prbs7</a>, <a href=# onclick=gotoTopic("dp___dp_phy_precursor_lane_1.html")>dp_phy_precursor_lane_1</a>, <a href=# onclick=gotoTopic("dp___dp_phy_precursor_lane_0.html")>dp_phy_precursor_lane_0</a></td></tr><tr valign=top><td><a href=# onclick=gotoTopic("mod___usb3_xhci.html")>usb3_xhci</a></td><td><a href=# onclick=gotoTopic("usb3_xhci___gctl.html")>gctl</a>, <a href=# onclick=gotoTopic("usb3_xhci___usbsts.html")>usbsts</a>, <a href=# onclick=gotoTopic("usb3_xhci___dalepena.html")>dalepena</a>, <a href=# onclick=gotoTopic("usb3_xhci___pagesize.html")>pagesize</a>, <a href=# onclick=gotoTopic("usb3_xhci___gusb3pipectl.html")>gusb3pipectl</a></td></tr></table>
<h3>Modules with Registers Added</h3><table>
<tr valign=top><th width=20%>Modules</th><th width=80%>Registers</th></tr></table>
</body>
</html>