<!doctype html>
<html>
<head>
<title>DEVTYPE (A53_PMU_1) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___a53_pmu_1.html")>A53_PMU_1 Module</a> &gt; DEVTYPE (A53_PMU_1) Register</p><h1>DEVTYPE (A53_PMU_1) Register</h1>
<h2>DEVTYPE (A53_PMU_1) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DEVTYPE</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000FCC</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FED30FCC (CORESIGHT_A53_PMU_1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000016</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Performance Monitors Device Type Register</td></tr>
</table>
<p></p>
<h2>DEVTYPE (A53_PMU_1) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>SUB</td><td class="center"> 7:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Subtype. Must read as 0x1 to indicate this is a processor component.</td></tr>
<tr valign=top><td>MAJOR</td><td class="center"> 3:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x6</td><td>Major type. Must read as 0x6 to indicate this is a performance monitor component.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>