<!doctype html>
<html>
<head>
<title>EDPRCR (A53_DBG_1) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___a53_dbg_1.html")>A53_DBG_1 Module</a> &gt; EDPRCR (A53_DBG_1) Register</p><h1>EDPRCR (A53_DBG_1) Register</h1>
<h2>EDPRCR (A53_DBG_1) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>EDPRCR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000310</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FED10310 (CORESIGHT_A53_DBG_1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>External Debug Power/Reset Control Register</td></tr>
</table>
<p></p>
<h2>EDPRCR (A53_DBG_1) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>COREPURQ</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Core powerup request. Allows a debugger to request that the power controller power up the core, enabling access to the debug register in the Core power domain. The actions on writing to this bit are:In an implementation that includes the recommended external debug interface, this bit drives the DBGPWRUPREQ signal.This bit can be read and written when the Core power domain is powered off.The power controller must not allow the Core power domain to switch off while this bit is one.</td></tr>
<tr valign=top><td>CWRR</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Warm reset request. Write only bit that reads as zero. The actions on writing to this bit are:The processor ignores writes to this bit if any of the following are the case:ExternalInvasiveDebugEnabled() == FALSE, EL3 is not implemented, and the processor is Non-secure.ExternalSecureInvasiveDebugEnabled() == FALSE and one of the following is true:EL3 is implemented.The processor is Secure.The Core power domain is either completely off or in a low-power state where the Core power domain registers cannot be accessed.DoubleLockStatus() == TRUE (OS Double Lock is set).OSLSR.OSLK == 1 (OS lock is locked).In an implementation that includes the recommended external debug interface, this bit drives the DBGRSTREQ signal.</td></tr>
<tr valign=top><td>CORENPDRQ</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Core no powerdown request. Requests emulation of powerdown. Possible values of this bit are:</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>