<!doctype html>
<html>
<head>
<title>EVCNTR3_EL0 (A53_PMU_0) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___a53_pmu_0.html")>A53_PMU_0 Module</a> &gt; EVCNTR3_EL0 (A53_PMU_0) Register</p><h1>EVCNTR3_EL0 (A53_PMU_0) Register</h1>
<h2>EVCNTR3_EL0 (A53_PMU_0) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>EVCNTR3_EL0</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000018</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEC30018 (CORESIGHT_A53_PMU_0)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Performance Monitors Event Count Registers</td></tr>
</table>
<p></p>
<h2>EVCNTR3_EL0 (A53_PMU_0) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>EVCNTR3_EL0</td><td class="center">31:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Event counter n. Value of event counter n, where n is the number of this register and is a number from 0 to 30.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>