<!doctype html>
<html>
<head>
<title>CNTCTLR0 (A53_ETM_3) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___a53_etm_3.html")>A53_ETM_3 Module</a> &gt; CNTCTLR0 (A53_ETM_3) Register</p><h1>CNTCTLR0 (A53_ETM_3) Register</h1>
<h2>CNTCTLR0 (A53_ETM_3) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CNTCTLR0</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000150</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEF40150 (CORESIGHT_A53_ETM_3)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Counter Control Register 0</td></tr>
</table>
<p></p>
<h2>CNTCTLR0 (A53_ETM_3) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>RLDSELF</td><td class="center">16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Controls whether a reload event occurs for counter 0, when counter 0 reaches zero:</td></tr>
<tr valign=top><td>RLDTYPE</td><td class="center">15</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the resource type for the reload: 0=single, 1=boolean combined</td></tr>
<tr valign=top><td>RLDSEL</td><td class="center">11:8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the resource number, based on the value of RLDTYPE: When RLDTYPE is 0, selects a single selected resource from 0-15 defined by bis[3:0]; when RLDTYPE is 1, selects a Boolean combined resource pair from 0-7 defiend by bits[2:0].</td></tr>
<tr valign=top><td>CNTTYPE</td><td class="center"> 7</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the resource type for the counter: 0=single, 1=boolean combined</td></tr>
<tr valign=top><td>CNTSEL</td><td class="center"> 3:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the resource number, based on the value of CNTTYPE: When CNTTYPE is 0, selects a single selected resource from 0-15 defined by bis[3:0]; when CNTTYPE is 1, selects a Boolean combined resource pair from 0-7 defiend by bits[2:0].</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>