<!doctype html>
<html>
<head>
<title>AFIFM_I_STS (AFIFM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___afifm.html")>AFIFM Module</a> &gt; AFIFM_I_STS (AFIFM) Register</p><h1>AFIFM_I_STS (AFIFM) Register</h1>
<h2>AFIFM_I_STS (AFIFM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>AFIFM_I_STS</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000E00</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD360E00 (AFIFM0)<br/>0x00FD370E00 (AFIFM1)<br/>0x00FD380E00 (AFIFM2)<br/>0x00FD390E00 (AFIFM3)<br/>0x00FD3A0E00 (AFIFM4)<br/>0x00FD3B0E00 (AFIFM5)<br/>0x00FF9B0E00 (AFIFM6)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Status Register</td></tr>
</table>
<p>This register holds the contents of the raw, pre-masked interrupt status bit. Even if a mask bit is set, S/W could still read this sticky bit to see if any event actually occurred. This register requires a specific write=1 to clear its contents. Writes=0 are ignored.</p>
<h2>AFIFM_I_STS (AFIFM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:1</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>RESERVED. Return 0 when read. Writes ignored.</td></tr>
<tr valign=top><td>INVALID_APB</td><td class="center"> 0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Indicates that an APB (register) access has occured to an unimplemented space (there is no register at that location).</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>