<!doctype html>
<html>
<head>
<title>DMA_CHANNEL_STAD_Q_NEXT (AXIPCIE_DMA) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___axipcie_dma.html")>AXIPCIE_DMA Module</a> &gt; DMA_CHANNEL_STAD_Q_NEXT (AXIPCIE_DMA) Register</p><h1>DMA_CHANNEL_STAD_Q_NEXT (AXIPCIE_DMA) Register</h1>
<h2>DMA_CHANNEL_STAD_Q_NEXT (AXIPCIE_DMA) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DMA_CHANNEL_STAD_Q_NEXT</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000004C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0F004C (AXIPCIE_DMA0)<br/>0x00FD0F00CC (AXIPCIE_DMA1)<br/>0x00FD0F014C (AXIPCIE_DMA2)<br/>0x00FD0F01CC (AXIPCIE_DMA3)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Write only to initialize DMA Channel</td></tr>
</table>
<p></p>
<h2>DMA_CHANNEL_STAD_Q_NEXT (AXIPCIE_DMA) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>next</td><td class="center">31:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Queue Flow Control - Next Pointer. Index of the next Queue element that will be written by DMA Channel hardware with DMA completion status. Incremented by DMA Channel hardware as elements are reserved to receive DMA completion status. The number of queue elements available for the DMA Channel == STAD_Q_LIMIT - STAD_Q_NEXT (taking into account wrapping). STAD_Q_NEXT does not indicate that Queue Elements have been written, only that the DMA Channel has reserved elements to receive DMA completion status. Software must write this register to 0x0 to initialize the queue prior to enabling the DMA Channel. Software is prohibited from writing this register while the DMA Channel is enabled. STAD_Q_NEXT is utilized by DMA Channel hardware to track its location in the queue and should not be used by DMA software.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>