<!doctype html>
<html>
<head>
<title>MSGF_MSI_STATUS_HI (AXIPCIE_MAIN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___axipcie_main.html")>AXIPCIE_MAIN Module</a> &gt; MSGF_MSI_STATUS_HI (AXIPCIE_MAIN) Register</p><h1>MSGF_MSI_STATUS_HI (AXIPCIE_MAIN) Register</h1>
<h2>MSGF_MSI_STATUS_HI (AXIPCIE_MAIN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>MSGF_MSI_STATUS_HI</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000444</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0E0444 (AXIPCIE_MAIN)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>MSI Interrupt Status[63:32].</td></tr>
</table>
<p></p>
<h2>MSGF_MSI_STATUS_HI (AXIPCIE_MAIN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>msgf_msi_status</td><td class="center">31:0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>MSI Interrupt Per Vector Status. msgf_msi_status[i] is set to 1 when a MSI interrupt with vector i is received.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>