<!doctype html>
<html>
<head>
<title>E_BREG_CONTROL (AXIPCIE_MAIN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___axipcie_main.html")>AXIPCIE_MAIN Module</a> &gt; E_BREG_CONTROL (AXIPCIE_MAIN) Register</p><h1>E_BREG_CONTROL (AXIPCIE_MAIN) Register</h1>
<h2>E_BREG_CONTROL (AXIPCIE_MAIN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>E_BREG_CONTROL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000208</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0E0208 (AXIPCIE_MAIN)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000002</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Egress Bridge Register Translation - Control</td></tr>
</table>
<p></p>
<h2>E_BREG_CONTROL (AXIPCIE_MAIN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:18</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>breg_size</td><td class="center">17:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Size of this translation window, expressed as 2^(breg_size_offset+breg_size). Constrained by the breg_size_max and breg_size_offset fields.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">15:3</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>breg_security_enable</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Translation security enable/disable.</td></tr>
<tr valign=top><td>breg_enable_force</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Force all AXI Slave Interface transactions to be claimed by the Egress Bridge Register Translation.</td></tr>
<tr valign=top><td>breg_enable</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Translation Enable. The translation is hit when both of the following are true:<br/>* breg_enable == 1<br/>* breg_src_base[63:(12+breg_size)] == AXI Address[63:(12+breg_size)]</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>