<!doctype html>
<html>
<head>
<title>BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT (AXIPCIE_MAIN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___axipcie_main.html")>AXIPCIE_MAIN Module</a> &gt; BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT (AXIPCIE_MAIN) Register</p><h1>BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT (AXIPCIE_MAIN) Register</h1>
<h2>BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT (AXIPCIE_MAIN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000002C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0E002C (AXIPCIE_MAIN)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000BEA</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>AXI Master Write Completion Timeout Configuration</td></tr>
</table>
<p></p>
<h2>BRIDGE_CORE_CFG_AXI_M_W_TICK_COUNT (AXIPCIE_MAIN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:16</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>axi_m_w_tick_count</td><td class="center">15:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0xBEA</td><td>Determines the AXI Master write request timeout period.<br/>A timeout will occur after 14 to 15 w_ticks with w_ticks occuring at an interval of (256*axi_m_w_tick_count) AXI clocks.<br/>A value of 0 disables the timeout mechanism.<br/>For example axi_m_w_tick_count==7 results in a timeout range of 50.176uS to 53.760uS when the AXI Clock is 500 MHz.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>