<!doctype html>
<html>
<head>
<title>BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT (AXIPCIE_MAIN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___axipcie_main.html")>AXIPCIE_MAIN Module</a> &gt; BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT (AXIPCIE_MAIN) Register</p><h1>BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT (AXIPCIE_MAIN) Register</h1>
<h2>BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT (AXIPCIE_MAIN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000034</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0E0034 (AXIPCIE_MAIN)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00002210</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PCIe Configuration Write/Read Request CRS Replay Timeout Configuration</td></tr>
</table>
<p></p>
<h2>BRIDGE_CORE_CFG_CRS_RPL_TICK_COUNT (AXIPCIE_MAIN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:16</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>crs_rpl_tick_count</td><td class="center">15:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x2210</td><td>Determines the CRS Replay timeout period. AXI Slave Interface initiated PCI Express Configuration Write and Read (ECAM) requests which return Configuration Request Retry Status (CRS), and which are not handled with CRS Software Visbility, will be retried until the timeout period expires. After the timeout expires, the next CRS response received for the transaction is converted to response Slave Error and no longer retried. A timeout will occur after 14 to 15 l_ticks with l_ticks occuring at an interval of (4096*crs_rpl_tick_count) AXI clocks.<br/>A value of 0 disables the timeout mechanism.<br/>For example crs_rpl_tick_count==8720 results in a timeout range of 1.000S to 1.017S when the AXI Clock is 500 MHz.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>