<html>
<head>
</head>
<body style="background-color:black">
<table style="border: 0px solid black;width:100%;height:100%">
<tr>
<td><img src="{{url_for('static', filename='xilinx_logo_black.png')}}" style="width:187px;height:76px;"></td>
<td><div style="color:white;font-family:verdana;font-size:160%">Zynq UltraScale+ Devices Register Reference</div></br>
<div style="color:white;font-family:verdana;font-size:90%">UG1087 (v1.8) July 30, 2021</div>
</td>
<td><img src="{{url_for('static', filename='zynq_ultrascaleplus_logo.png')}}" style="width:157px;height:82px;"></td>
<td>
    <form action="target" method="get">
        <label>Target IP : <input type="text" id="hostname" name="hostname"></label>
        <input type="submit" value="SET">
      </form>
</td>
</tr>
</table>
</body>
</html>
