<!doctype html>
<html>
<head>
<title>AFIR1 (CAN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___can.html")>CAN Module</a> &gt; AFIR1 (CAN) Register</p><h1>AFIR1 (CAN) Register</h1>
<h2>AFIR1 (CAN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>AFIR1</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000068</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF060068 (CAN0)<br/>0x00FF070068 (CAN1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Acceptance Filter 1 ID.</td></tr>
</table>
<p></p>
<h2>AFIR1 (CAN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>AIIDH</td><td class="center">31:21</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Standard Message ID<br/>Standard Identifier</td></tr>
<tr valign=top><td>AISRR</td><td class="center">20</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Substitute Remote Transmission Request<br/>Indicates the Remote Transmission Request bit for Standard frames</td></tr>
<tr valign=top><td>AIIDE</td><td class="center">19</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Identifier Extension<br/>Differentiates between Standard and Extended frames</td></tr>
<tr valign=top><td>AIIDL</td><td class="center">18:1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Extended Message ID Mask Extended Identifier</td></tr>
<tr valign=top><td>AIRTR</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Remote Transmission Request Mask RTR bit for Extended frames.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>