<!doctype html>
<html>
<head>
<title>RXFIFO_ID (CAN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___can.html")>CAN Module</a> &gt; RXFIFO_ID (CAN) Register</p><h1>RXFIFO_ID (CAN) Register</h1>
<h2>RXFIFO_ID (CAN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>RXFIFO_ID</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000050</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF060050 (CAN0)<br/>0x00FF070050 (CAN1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Rx Message FIFO, Identifier, Request.</td></tr>
</table>
<p></p>
<h2>RXFIFO_ID (CAN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>IDH</td><td class="center">31:21</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Standard Message ID<br/>The Identifier portion for a Standard Frame is 11 bits.<br/>These bits indicate the Standard Frame ID.<br/>This field is valid for both Standard and Extended Frames.</td></tr>
<tr valign=top><td>SRRRTR</td><td class="center">20</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Substitute Remote Transmission Request<br/>This bit differentiates between data frames and remote frames. Valid only for Standard Frames. For Extended frames this bit is 1.<br/>1: Indicates that the message frame is a Remote Frame.<br/>0: Indicates that the message frame is a Data Frame.</td></tr>
<tr valign=top><td>IDE</td><td class="center">19</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Identifier Extension<br/>This bit differentiates between frames using the Standard Identifier and those using the Extended Identifier. Valid for both Standard and Extended Frames.<br/>1: Indicates the use of an Extended Message Identifier.<br/>0: Indicates the use of a Standard Message Identifier.</td></tr>
<tr valign=top><td>IDL</td><td class="center">18:1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Extended Message ID<br/>This field indicates the Extended Identifier.<br/>Valid only for Extended Frames.<br/>For Standard Frames, reads from this field return 0s<br/>For Standard Frames, writes to this field should be 0s</td></tr>
<tr valign=top><td>RTR</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Remote Transmission Request<br/>This bit differentiates between data frames and remote frames.<br/>Valid only for Extended Frames.<br/>1: Indicates the message object is a Remote Frame<br/>0: Indicates the message object is a Data Frame<br/>For Standard Frames, reads from this bit returns 0<br/>For Standard Frames, writes to this bit should be 0</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>