<!doctype html>
<html>
<head>
<title>AFMR2 (CAN) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___can.html")>CAN Module</a> &gt; AFMR2 (CAN) Register</p><h1>AFMR2 (CAN) Register</h1>
<h2>AFMR2 (CAN) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>AFMR2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000006C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF06006C (CAN0)<br/>0x00FF07006C (CAN1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Acceptance Filter 2 Mask.</td></tr>
</table>
<p></p>
<h2>AFMR2 (CAN) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>AMIDH</td><td class="center">31:21</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Standard Message ID Mask<br/>These bits are used for masking the Identifier in a Standard Frame.<br/>1: Indicates the corresponding bit in Acceptance Mask ID Register is used when comparing the incoming message identifier.<br/>0: Indicates the corresponding bit in Acceptance Mask ID Register is not used when comparing the incoming message identifier.</td></tr>
<tr valign=top><td>AMSRR</td><td class="center">20</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Substitute Remote Transmission Request Mask<br/>This bit is used for masking the RTR bit in a Standard Frame.<br/>1: Indicates the corresponding bit in Acceptance Mask ID Register is used when comparing the incoming message identifier.<br/>0: Indicates the corresponding bit in Acceptance Mask ID Register is not used when comparing the incoming message identifier.</td></tr>
<tr valign=top><td>AMIDE</td><td class="center">19</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Identifier Extension Mask<br/>Used for masking the IDE bit in CAN frames.<br/>1: Indicates the corresponding bit in Acceptance Mask ID Register is used when comparing the incoming message identifier.<br/>0: Indicates the corresponding bit in Acceptance Mask ID Register is not used when comparing the incoming message identifier.<br/>If AMIDE = 1 and the AIIDE bit in the corresponding Acceptance ID register is 0, this mask is applicable to only Standard frames.<br/>If AMIDE = 1 and the AIIDE bit in the corresponding Acceptance ID register is 1, this mask is applicable to only extended frames.<br/>If AMIDE = 0 this mask is applicable to Standard frame.</td></tr>
<tr valign=top><td>AMIDL</td><td class="center">18:1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Extended Message ID Mask<br/>These bits are used for masking the Identifier in an Extended Frame.<br/>1: Indicates the corresponding bit in Acceptance Mask ID Register is used when comparing the incoming message identifier.<br/>0: Indicates the corresponding bit in Acceptance Mask ID Register is not used when comparing the incoming message identifier.</td></tr>
<tr valign=top><td>AMRTR</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Remote Transmission Request Mask.<br/>This bit is used for masking the RTR bit in an Extended Frame.<br/>1: Indicates the corresponding bit in Acceptance Mask ID Register is used when comparing the incoming message identifier.<br/>0: Indicates the corresponding bit in Acceptance Mask ID Register is not used when comparing the incoming message identifier.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>