<!doctype html>
<html>
<head>
<title>RST_FPD_APU (CRF_APB) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___crf_apb.html")>CRF_APB Module</a> &gt; RST_FPD_APU (CRF_APB) Register</p><h1>RST_FPD_APU (CRF_APB) Register</h1>
<h2>RST_FPD_APU (CRF_APB) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>RST_FPD_APU</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000104</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD1A0104 (CRF_APB)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>24</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00003D0F</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Software Controlled APU MPCore Resets.</td></tr>
</table>
<p></p>
<h2>RST_FPD_APU (CRF_APB) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>acpu3_pwron_reset</td><td class="center">13</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU3 power on reset</td></tr>
<tr valign=top><td>acpu2_pwron_reset</td><td class="center">12</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU2 power on reset</td></tr>
<tr valign=top><td>acpu1_pwron_reset</td><td class="center">11</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU1 power on reset</td></tr>
<tr valign=top><td>acpu0_pwron_reset</td><td class="center">10</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU0 power on reset</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 9</td><td class="tooltip grayback">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex grayback">0x0</td><td class=grayback>RESERVED</td></tr>
<tr valign=top><td>apu_l2_reset</td><td class="center"> 8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>APU L2 reset</td></tr>
<tr valign=top><td>acpu3_reset</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU3 reset</td></tr>
<tr valign=top><td>acpu2_reset</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU2 reset</td></tr>
<tr valign=top><td>acpu1_reset</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU1 reset</td></tr>
<tr valign=top><td>acpu0_reset</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>ACPU0 reset</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>