<!doctype html>
<html>
<head>
<title>RST_FPD_TOP (CRF_APB) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___crf_apb.html")>CRF_APB Module</a> &gt; RST_FPD_TOP (CRF_APB) Register</p><h1>RST_FPD_TOP (CRF_APB) Register</h1>
<h2>RST_FPD_TOP (CRF_APB) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>RST_FPD_TOP</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000100</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD1A0100 (CRF_APB)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>24</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x000F9FFE</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Software Controlled FPD Resets.</td></tr>
</table>
<p></p>
<h2>RST_FPD_TOP (CRF_APB) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>pcie_cfg_reset</td><td class="center">19</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>PCIE config reset</td></tr>
<tr valign=top><td>pcie_bridge_reset</td><td class="center">18</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>PCIE bridge block level reset (AXI interface)</td></tr>
<tr valign=top><td>pcie_ctrl_reset</td><td class="center">17</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>PCIE control block level<br/>reset</td></tr>
<tr valign=top><td>dp_reset</td><td class="center">16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Display Port block level reset (includes DPDMA)</td></tr>
<tr valign=top><td>swdt_reset</td><td class="center">15</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>FPD WDT reset</td></tr>
<tr valign=top><td>afi_fm5_reset</td><td class="center">12</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM5 block level reset</td></tr>
<tr valign=top><td>afi_fm4_reset</td><td class="center">11</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM4 block level reset</td></tr>
<tr valign=top><td>afi_fm3_reset</td><td class="center">10</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM3 block level reset</td></tr>
<tr valign=top><td>afi_fm2_reset</td><td class="center"> 9</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM2 block level reset</td></tr>
<tr valign=top><td>afi_fm1_reset</td><td class="center"> 8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM1 block level reset</td></tr>
<tr valign=top><td>afi_fm0_reset</td><td class="center"> 7</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>AF_FM0 block level reset</td></tr>
<tr valign=top><td>gdma_reset</td><td class="center"> 6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>GDMA block level reset</td></tr>
<tr valign=top><td>gpu_pp1_reset</td><td class="center"> 5</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Pixel Processor (submodule of GPU) block level reset</td></tr>
<tr valign=top><td>gpu_pp0_reset</td><td class="center"> 4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Pixel Processor (submodule of GPU) block level reset</td></tr>
<tr valign=top><td>gpu_reset</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>GPU block level reset</td></tr>
<tr valign=top><td>gt_reset</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>GT block level reset</td></tr>
<tr valign=top><td>sata_reset</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Sata block level reset</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>