<!doctype html>
<html>
<head>
<title>BANK3_STATUS (CRL_APB) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___crl_apb.html")>CRL_APB Module</a> &gt; BANK3_STATUS (CRL_APB) Register</p><h1>BANK3_STATUS (CRL_APB) Register</h1>
<h2>BANK3_STATUS (CRL_APB) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>BANK3_STATUS</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000288</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF5E0288 (CRL_APB)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>10</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Voltage mode status for DIO bank 3<br/>Each bit applies to a single I/O. <br/>Bit[9]:TCK<br/>Bit[8]:TDI<br/>Bit[7]:TMS<br/>Bit[6]:TDO<br/>Bit[5]:SRST<br/>Bit[4]:PROG<br/>Bit[3]:INIT<br/>Bit[2]: DONE<br/>Bit[1]: ERROR_OUT<br/>Bit[0]: ERROR_STS</td></tr>
</table>
<p>DIO bank 3; DIO[9:0]</p>
<h2>BANK3_STATUS (CRL_APB) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>vmode_1p8_3p3_n</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Single bit for the bank.<br/>0 = 2.5/3.3v mode.<br/>1 = 1.8v mode.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>