<!doctype html>
<html>
<head>
<title>CSUDMA_DST_ADDR (CSUDMA) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___csudma.html")>CSUDMA Module</a> &gt; CSUDMA_DST_ADDR (CSUDMA) Register</p><h1>CSUDMA_DST_ADDR (CSUDMA) Register</h1>
<h2>CSUDMA_DST_ADDR (CSUDMA) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CSUDMA_DST_ADDR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000800</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFC80800 (CSUDMA)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Destination mem address (lsbs) for DMA stream->memory data transfer</td></tr>
</table>
<p></p>
<h2>CSUDMA_DST_ADDR (CSUDMA) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>ADDR</td><td class="center">31:2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Destination memory address (lsbs) for DMA stream to memory data transfer<br/>Address is word aligned, so this field is only 30-bits. (2 lsb's are 0)<br/>This field must be written initially before a DMA operation is started.<br/>In this case, it indicates the memory destination address (lsbs) the DMA will begin writing to.<br/>After the DMA has started, this field will dynamically change under DMA control to reflect the current memory destination address that is being processed by the DMA. When a BRESP is returned from memory, the ADDR will increment<br/>by 1 word.<br/>The readback is only valid if Burst Type is INCR (not WRAP)<br/>The full 48-bit destination address is comprised of this field concatenated with the CSUDMA_DST_ADDR_MSB field as follows:<br/>48-bit DST address = {CSUDMA_DST_ADDR_MSB, ADDR, 2'b00}</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 1:0</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>RESERVED. Return 0 when read. Writes ignored.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>