<!doctype html>
<html>
<head>
<title>CTIAPPSET (CTI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___cti.html")>CTI Module</a> &gt; CTIAPPSET (CTI) Register</p><h1>CTIAPPSET (CTI) Register</h1>
<h2>CTIAPPSET (CTI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CTIAPPSET</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000014</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEBF8014 (CORESIGHT_R5_CTI_0)<br/>0x00FEBF9014 (CORESIGHT_R5_CTI_1)<br/>0x00FE990014 (CORESIGHT_SOC_CTI_0)<br/>0x00FE9A0014 (CORESIGHT_SOC_CTI_1)<br/>0x00FE9B0014 (CORESIGHT_SOC_CTI_2)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>The CTI Application Trigger Set Register is read/write. A write to this register causes a channel event to be raised, corresponding to the bit written to.</td></tr>
</table>
<p></p>
<h2>CTIAPPSET (CTI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>APPSET</td><td class="center"> 3:0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Setting a bit HIGH generates a channel event for the selected channel. There is one bit of the register for each channel.Read: 0 = application trigger inactive (reset). 1 = application trigger active.Write: 0 = no effect. 1 = generate channel event.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>