<!doctype html>
<html>
<head>
<title>DTDR0 (DDR_PHY) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_phy.html")>DDR_PHY Module</a> &gt; DTDR0 (DDR_PHY) Register</p><h1>DTDR0 (DDR_PHY) Register</h1>
<h2>DTDR0 (DDR_PHY) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DTDR0</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000218</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD080218 (DDR_PHY)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0xDD22EE11</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Data Training Data Register 0</td></tr>
</table>
<p></p>
<h2>DTDR0 (DDR_PHY) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>DTBYTE3</td><td class="center">31:24</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0xDD</td><td>Data Training Data</td></tr>
<tr valign=top><td>DTBYTE2</td><td class="center">23:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x22</td><td>Data Training Data</td></tr>
<tr valign=top><td>DTBYTE1</td><td class="center">15:8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0xEE</td><td>Data Training Data</td></tr>
<tr valign=top><td>DTBYTE0</td><td class="center"> 7:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x11</td><td>Data Training Data: The first 4 bytes of data used during data training.<br/>This same data byte is used for each Byte Lane. Default sequence is a<br/>walking 1 while toggling data every data cycle.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>