<!doctype html>
<html>
<head>
<title>DX8GSR0 (DDR_PHY) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_phy.html")>DDR_PHY Module</a> &gt; DX8GSR0 (DDR_PHY) Register</p><h1>DX8GSR0 (DDR_PHY) Register</h1>
<h2>DX8GSR0 (DDR_PHY) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DX8GSR0</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000FE0</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD080FE0 (DDR_PHY)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>DATX8 n General Status Register 0</td></tr>
</table>
<p></p>
<h2>DX8GSR0 (DDR_PHY) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved. Returns zeroes on reads.</td></tr>
<tr valign=top><td>WLDQ</td><td class="center">30</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write Leveling DQ Status: Captures the write leveling DQ status<br/>from the DRAM during software write leveling.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">29:26</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved. Returns zeroes on reads.</td></tr>
<tr valign=top><td>GDQSPRD</td><td class="center">25:17</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Read DQS gating Period: Returns the DDR clock period measured<br/>by the read DQS gating LCDL during calibration. This value is PVT<br/>compensated.</td></tr>
<tr valign=top><td>DPLOCK</td><td class="center">16</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>DATX8 PLL Lock: Indicates, if set, that that DATX8 PLL has locked.<br/>This is a direct status of the DATX8 PLL lock pin.</td></tr>
<tr valign=top><td>WLPRD</td><td class="center">15:7</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write Leveling Period: Returns the DDR clock period measured by<br/>the write leveling LCDL during calibration. The measured period is<br/>used to generate the control of the write leveling pipeline which is a<br/>function of the write-leveling delay and the clock period. This value<br/>is PVT compensated.</td></tr>
<tr valign=top><td>WLERR</td><td class="center"> 6</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write Leveling Error: Indicates, if set, that there is a write leveling<br/>error in the DATX8.</td></tr>
<tr valign=top><td>WLDONE</td><td class="center"> 5</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write Leveling Done: Indicates, if set, that the DATX8 has<br/>completed write leveling.</td></tr>
<tr valign=top><td>WLCAL</td><td class="center"> 4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write Leveling Calibration: Indicates, if set, that the DATX8 has<br/>finished doing period measurement calibration for the write leveling<br/>slave delay line.</td></tr>
<tr valign=top><td>GDQSCAL</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Read DQS gating Calibration: Indicates, if set, that the DATX8 has<br/>finished doing period measurement calibration for the read DQS<br/>gating LCDL.</td></tr>
<tr valign=top><td>RDQSNCAL</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Read DQS# Calibration: Indicates, if set, that the DATX8 has<br/>finished doing period measurement calibration for the read DQS#<br/>LCDL.</td></tr>
<tr valign=top><td>RDQSCAL</td><td class="center"> 1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Read DQS Calibration: Indicates, if set, that the DATX8 has<br/>finished doing period measurement calibration for the read DQS<br/>LCDL.</td></tr>
<tr valign=top><td>WDQCAL</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Write DQ Calibration: Indicates, if set, that the DATX8 has finished<br/>doing period measurement calibration for the write DQ LCDL.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>