<!doctype html>
<html>
<head>
<title>PTR4 (DDR_PHY) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_phy.html")>DDR_PHY Module</a> &gt; PTR4 (DDR_PHY) Register</p><h1>PTR4 (DDR_PHY) Register</h1>
<h2>PTR4 (DDR_PHY) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>PTR4</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000050</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD080050 (DDR_PHY)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x000010AA</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PHY Timing Register 4</td></tr>
</table>
<p></p>
<h2>PTR4 (DDR_PHY) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:13</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Return zeroes on reads.</td></tr>
<tr valign=top><td>tDINIT1</td><td class="center">12:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x10AA</td><td>DRAM Initialization Time 1: DRAM initialization time in DRAM clock<br/>cycles corresponding to the following:<br/>DDR4 = CKE high time to first command (max (5nCK,tRFC(min) +<br/>10ns) )<br/>DDR3 = CKE high time to first command (tRFC + 10 ns or 5 tCK,<br/>whichever is bigger)<br/>LPDDR4= CKE high time to first command (2000 ns)<br/>LPDDR3 = CKE low time with power and clock stable (100 ns)<br/>Note:<br/>Default value corresponds to LPDDR4 2000ns at 2133 MHz.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>