<!doctype html>
<html>
<head>
<title>DDR_CLK_CTRL (DDR_QOS_CTRL) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_qos_ctrl.html")>DDR_QOS_CTRL Module</a> &gt; DDR_CLK_CTRL (DDR_QOS_CTRL) Register</p><h1>DDR_CLK_CTRL (DDR_QOS_CTRL) Register</h1>
<h2>DDR_CLK_CTRL (DDR_QOS_CTRL) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DDR_CLK_CTRL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000700</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD090700 (DDR_QOS_CTRL)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000001</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>DDR Sub system clock control</td></tr>
</table>
<p></p>
<h2>DDR_CLK_CTRL (DDR_QOS_CTRL) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:2</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved for future use</td></tr>
<tr valign=top><td>CLKACT</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Clock active signal. Switch to 0 to disable the clock</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>