<!doctype html>
<html>
<head>
<title>DX8GCR2 (DDR_PHY) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_phy.html")>DDR_PHY Module</a> &gt; DX8GCR2 (DDR_PHY) Register</p><h1>DX8GCR2 (DDR_PHY) Register</h1>
<h2>DX8GCR2 (DDR_PHY) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DX8GCR2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000F08</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD080F08 (DDR_PHY)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>DATX8 n General Configuration Register 2</td></tr>
</table>
<p></p>
<h2>DX8GCR2 (DDR_PHY) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>DXOEMODE</td><td class="center">31:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enables the OE mode values for DQ[7:0]. The bit [1:0] is for DQ[0],<br/>bit[3:2] for DQ[1] etc. Valid values are:<br/>00: OE Dynamic<br/>01: OE always ON<br/>10: OE always OFF<br/>11: <br/>RESERVED</td></tr>
<tr valign=top><td>DXTEMODE</td><td class="center">15:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enables the TE (ODT) mode values for DQ[7:0]. The bit [1:0] is for<br/>DQ[0], bit[3:2] for DQ[1] etc. Valid values are:<br/>00: TE (ODT) Dynamic<br/>01: TE (ODT) always ON<br/>10: TE (ODT) always OFF<br/>11: <br/>RESERVED</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>