<!doctype html>
<html>
<head>
<title>RIOCR5 (DDR_PHY) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddr_phy.html")>DDR_PHY Module</a> &gt; RIOCR5 (DDR_PHY) Register</p><h1>RIOCR5 (DDR_PHY) Register</h1>
<h2>RIOCR5 (DDR_PHY) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>RIOCR5</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x00000004F4</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0804F4 (DDR_PHY)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000005</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Rank I/O Configuration Register 5</td></tr>
</table>
<p></p>
<h2>RIOCR5 (DDR_PHY) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:16</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved. Return zeroes on reads.</td></tr>
<tr valign=top><td>ODTOEMODE_RSVD</td><td class="center">15:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Reserved. Return zeros on reads.</td></tr>
<tr valign=top><td>ODTOEMODE</td><td class="center"> 3:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x5</td><td>SDRAM On-die Termination Output Enable (OE) Mode Selection.<br/>Bits [1:0] for ODT[0], bits [3:2] for ODT[1]. Valid values are:<br/>2b00 = OE Dynamic<br/>2b01 = OE always ON<br/>2b10 = OE always OFF<br/>2b11 = Reserved</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>