<!doctype html>
<html>
<head>
<title>ZQCTL1 (DDRC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddrc.html")>DDRC Module</a> &gt; ZQCTL1 (DDRC) Register</p><h1>ZQCTL1 (DDRC) Register</h1>
<h2>ZQCTL1 (DDRC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ZQCTL1</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000184</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD070184 (DDRC)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x02000100</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>ZQ Control Register 1</td></tr>
</table>
<p>This register is static. Static registers can only be written when the controller is in reset.</p>
<h2>ZQCTL1 (DDRC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>t_zq_reset_nop</td><td class="center">29:20</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x20</td><td>tZQReset: Number of cycles of NOP required after a ZQReset (ZQ calibration Reset) command is issued to SDRAM.<br/>For LPDDR3/LPDDR4 designs, program this to tZQReset/2 and round it up to the next integer value.<br/>Unit: Clock cycles.</td></tr>
<tr valign=top><td>t_zq_short_interval_x1024</td><td class="center">19:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x100</td><td>Average interval to wait between automatically issuing ZQCS (ZQ calibration short)/MPC(ZQ calibration) commands to DDR3/DDR4/LPDDR3/LPDDR4 devices.<br/>Meaningless, if ZQCTL0.dis_auto_zq=1.<br/>Unit: 1024 clock cycles.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>