<!doctype html>
<html>
<head>
<title>DRAMTMG7_SHADOW (DDRC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddrc.html")>DDRC Module</a> &gt; DRAMTMG7_SHADOW (DDRC) Register</p><h1>DRAMTMG7_SHADOW (DDRC) Register</h1>
<h2>DRAMTMG7_SHADOW (DDRC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DRAMTMG7_SHADOW</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000211C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD07211C (DDRC)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000202</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>SDRAM Timing Shadow Register 7</td></tr>
</table>
<p>This register is quasi-dynamic group 2 and group 4. Group 2 registers can be written in self-refresh, deep power-down, and maximum power saving modes. Group 4 registers can be written depending on MSTR.frequency_mode.</p>
<h2>DRAMTMG7_SHADOW (DDRC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>t_ckpde</td><td class="center">11:8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x2</td><td>LPDDR3/LPDDR4: This is the time after Power Down Entry that CK is maintained as a valid clock. Specifies the clock disable delay after PDE.<br/>Recommended settings:<br/>- LPDDR3: 2<br/>- LPDDR4: tCKCKEL<br/>Program this to recommended value divided by two and round it up to next integer.</td></tr>
<tr valign=top><td>t_ckpdx</td><td class="center"> 3:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x2</td><td>LPDDR3/LPDDR4: This is the time before Power Down Exit that CK is maintained as a valid clock before issuing PDX. Specifies the clock stable time before PDX.<br/>Recommended settings:<br/>- LPDDR3: 2<br/>- LPDDR4: 2<br/>Program this to recommended value divided by two and round it up to next integer.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>