<!doctype html>
<html>
<head>
<title>ADDRMAP6 (DDRC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ddrc.html")>DDRC Module</a> &gt; ADDRMAP6 (DDRC) Register</p><h1>ADDRMAP6 (DDRC) Register</h1>
<h2>ADDRMAP6 (DDRC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ADDRMAP6</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000218</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD070218 (DDRC)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Address Map Register 6</td></tr>
</table>
<p>This register is static. Static registers can only be written when the controller is in reset.</p>
<h2>ADDRMAP6 (DDRC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>lpddr3_6gb_12gb</td><td class="center">31</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Set this to 1 if there is an LPDDR3 SDRAM 6Gb or 12Gb device in use.<br/>- 1 - LPDDR3 SDRAM 6Gb/12Gb device in use. Every address having row[14:13]==2'b11 is considered as invalid<br/>- 0 - non-LPDDR3 6Gb/12Gb device in use. All addresses are valid</td></tr>
<tr valign=top><td>addrmap_row_b15</td><td class="center">27:24</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the HIF address bit used as row address bit 15.<br/>Valid Range: 0 to 11, and 15<br/>Internal Base: 21<br/>The selected HIF address bit is determined by adding the internal base to the value of this field.<br/>If set to 15, row address bit 15 is set to 0.</td></tr>
<tr valign=top><td>addrmap_row_b14</td><td class="center">19:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the HIF address bit used as row address bit 14.<br/>Valid Range: 0 to 11, and 15<br/>Internal Base: 20<br/>The selected HIF address bit is determined by adding the internal base to the value of this field.<br/>If set to 15, row address bit 14 is set to 0.</td></tr>
<tr valign=top><td>addrmap_row_b13</td><td class="center">11:8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the HIF address bit used as row address bit 13.<br/>Valid Range: 0 to 11, and 15<br/>Internal Base: 19<br/>The selected HIF address bit is determined by adding the internal base to the value of this field.<br/>If set to 15, row address bit 13 is set to 0.</td></tr>
<tr valign=top><td>addrmap_row_b12</td><td class="center"> 3:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Selects the HIF address bit used as row address bit 12.<br/>Valid Range: 0 to 11, and 15<br/>Internal Base: 18<br/>The selected HIF address bit is determined by adding the internal base to the value of this field.<br/>If set to 15, row address bit 12 is set to 0.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>