<!doctype html>
<html>
<head>
<title>AV_BUF_VIDEO_COMP1_SCALE_FACTOR (DP) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___dp.html")>DP Module</a> &gt; AV_BUF_VIDEO_COMP1_SCALE_FACTOR (DP) Register</p><h1>AV_BUF_VIDEO_COMP1_SCALE_FACTOR (DP) Register</h1>
<h2>AV_BUF_VIDEO_COMP1_SCALE_FACTOR (DP) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>AV_BUF_VIDEO_COMP1_SCALE_FACTOR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000B210</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD4AB210 (DP)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00010101</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Scaling factor for video color comp1.Description same as AV_BUF_GRAPHICS_COMP0_SCALE_FACTOR</td></tr>
</table>
<p></p>
<h2>AV_BUF_VIDEO_COMP1_SCALE_FACTOR (DP) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:17</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>VID_SCA_FACT1</td><td class="center">16:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x10101</td><td>Assuming number of bits = 8</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>