<!doctype html>
<html>
<head>
<title>AUDIO_MIXER_VOLUME_CONTROL (DP) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___dp.html")>DP Module</a> &gt; AUDIO_MIXER_VOLUME_CONTROL (DP) Register</p><h1>AUDIO_MIXER_VOLUME_CONTROL (DP) Register</h1>
<h2>AUDIO_MIXER_VOLUME_CONTROL (DP) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>AUDIO_MIXER_VOLUME_CONTROL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000C000</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD4AC000 (DP)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>AUDIO_MIXER_VOLUME_CONTROL:Setting value to 8192 means no volume change (1.0 scaling factor)</td></tr>
</table>
<p></p>
<h2>AUDIO_MIXER_VOLUME_CONTROL (DP) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>VOL_CTRL_CH1</td><td class="center">31:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Volume - Multiplication factor for stream2(graphcis). User should ensure volume adjustment does not saturate the signal heavily.</td></tr>
<tr valign=top><td>VOL_CTRL_CH0</td><td class="center">15:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Volume - Multiplication factor for stream1(video). User should ensure volume adjustment does not saturate the signal heavily.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>