<!doctype html>
<html>
<head>
<title>efuse_pgm_addr (EFUSE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___efuse.html")>EFUSE Module</a> &gt; efuse_pgm_addr (EFUSE) Register</p><h1>efuse_pgm_addr (EFUSE) Register</h1>
<h2>efuse_pgm_addr (EFUSE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>efuse_pgm_addr</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000000C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFCC000C (EFUSE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>eFuse Program Bit Address</td></tr>
</table>
<p>Write to register causes programming activity to be attempted.</p>
<h2>efuse_pgm_addr (EFUSE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>efuse</td><td class="center">12:11</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Type of eFuse to write to.<br/>0: Main eFuse array.<br/>1: reserved<br/>2: PUF Syndrome data (LSB).<br/>3: PUF Syndrome data (MSB).</td></tr>
<tr valign=top><td>row</td><td class="center">10:5</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>eFuse row address</td></tr>
<tr valign=top><td>column</td><td class="center"> 4:0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>eFuse column address</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>