<!doctype html>
<html>
<head>
<title>intfpdsmmutbu3_intfpdmain_fn_mod (FPD_GPV) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___fpd_gpv.html")>FPD_GPV Module</a> &gt; intfpdsmmutbu3_intfpdmain_fn_mod (FPD_GPV) Register</p><h1>intfpdsmmutbu3_intfpdmain_fn_mod (FPD_GPV) Register</h1>
<h2>intfpdsmmutbu3_intfpdmain_fn_mod (FPD_GPV) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>intfpdsmmutbu3_intfpdmain_fn_mod</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000043108</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD743108 (FPD_GPV)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Issuing functionality modification register</td></tr>
</table>
<p>This register sets the block issuing capability to one outstanding transaction.The register bits are active high and have the following purpose:0 Read issuing, read_iss_override.  1 Write issuing, write_iss_override</p>
<h2>intfpdsmmutbu3_intfpdmain_fn_mod (FPD_GPV) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>fn_mod</td><td class="center"> 1:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td></td></tr>
</table><p id=foot class=footer></p>
</body>
</html>