<!doctype html>
<html>
<head>
<title>designcfg_debug8 (GEM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___gem.html")>GEM Module</a> &gt; designcfg_debug8 (GEM) Register</p><h1>designcfg_debug8 (GEM) Register</h1>
<h2>designcfg_debug8 (GEM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>designcfg_debug8</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000029C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF0B029C (GEM0)<br/>0x00FF0C029C (GEM1)<br/>0x00FF0D029C (GEM2)<br/>0x00FF0E029C (GEM3)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x04040404</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Design Configuration Register 8</td></tr>
</table>
<p></p>
<h2>designcfg_debug8 (GEM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>num_type1_screeners</td><td class="center">31:24</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x4</td><td>Takes the value of the `num_type1_screeners DEFINE</td></tr>
<tr valign=top><td>num_type2_screeners</td><td class="center">23:16</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x4</td><td>Takes the value of the `num_type2_screeners DEFINE</td></tr>
<tr valign=top><td>num_scr2_ethtype_regs</td><td class="center">15:8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x4</td><td>Takes the value of the `num_scr2_ethtype_regs DEFINE</td></tr>
<tr valign=top><td>num_scr2_compare_regs</td><td class="center"> 7:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x4</td><td>Takes the value of the `num_scr2_compare_regs DEFINE</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>