<!doctype html>
<html>
<head>
<title>PP1_WB2_TARGET_LAYOUT (GPU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___gpu.html")>GPU Module</a> &gt; PP1_WB2_TARGET_LAYOUT (GPU) Register</p><h1>PP1_WB2_TARGET_LAYOUT (GPU) Register</h1>
<h2>PP1_WB2_TARGET_LAYOUT (GPU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>PP1_WB2_TARGET_LAYOUT</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000A310</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD4BA310 (GPU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>WB2 Target Layout</td></tr>
</table>
<p></p>
<h2>PP1_WB2_TARGET_LAYOUT (GPU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>_</td><td class="center">31:2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Reserved, write as zero, read undefined.</td></tr>
<tr valign=top><td>WB2_TARGET_LAYOUT</td><td class="center"> 1:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0 Linear layout.<br/>The pixels are stored in normal linear layout in memory.<br/>1 Interleaved layout.<br/>This is a fully interleaved mode where pixels are stored in<br/>u-order in memory for best possible 2D locality. This normally<br/>requires a quadratic framebuffer with power of two sides, but can<br/>also be used if the width is twice the height and both sides are<br/>powers of two.<br/>2 Interleaved blocks.<br/>Each 16x16 pixel block is interleaved u-order internally and then<br/>the blocks are stored linearly in the framebuffer.<br/>3 Reserved = Undefined.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>