<!doctype html>
<html>
<head>
<title>counter_control_register (IOU_SCNTRS) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___iou_scntrs.html")>IOU_SCNTRS Module</a> &gt; counter_control_register (IOU_SCNTRS) Register</p><h1>counter_control_register (IOU_SCNTRS) Register</h1>
<h2>counter_control_register (IOU_SCNTRS) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>counter_control_register</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000000</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF260000 (IOU_SCNTRS)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Controls the counter increments. This register is not accessible to the read-only programming interface.</td></tr>
</table>
<p></p>
<h2>counter_control_register (IOU_SCNTRS) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:2</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>Not Used</td></tr>
<tr valign=top><td>HDBG</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Halt on Debug<br/>0: Do not halt on debug, HLTDBG signal into the counter has no effect.<br/>1: Halt on debug, when HLTDBG is driven HIGH, the count value is held static.</td></tr>
<tr valign=top><td>EN</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enable<br/>0: The counter is disabled and not incrementing.<br/>1: The counter is enabled and is incrementing.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>