<!doctype html>
<html>
<head>
<title>MIO_LOOPBACK (IOU_SLCR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___iou_slcr.html")>IOU_SLCR Module</a> &gt; MIO_LOOPBACK (IOU_SLCR) Register</p><h1>MIO_LOOPBACK (IOU_SLCR) Register</h1>
<h2>MIO_LOOPBACK (IOU_SLCR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>MIO_LOOPBACK</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000200</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF180200 (IOU_SLCR)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Loopback function within MIO</td></tr>
</table>
<p></p>
<h2>MIO_LOOPBACK (IOU_SLCR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:4</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>I2C0_LOOP_I2C1</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>I2C Loopback Control.<br/>0 = Connect I2C inputs according to MIO mapping.<br/>1 = Loop I2C 0 outputs to I2C 1 inputs, and I2C 1 outputs to I2C 0 inputs.</td></tr>
<tr valign=top><td>CAN0_LOOP_CAN1</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>CAN Loopback Control.<br/>0 = Connect CAN inputs according to MIO mapping.<br/>1 = Loop CAN 0 Tx to CAN 1 Rx, and CAN 1 Tx to CAN 0 Rx.</td></tr>
<tr valign=top><td>UA0_LOOP_UA1</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>UART Loopback Control.<br/>0 = Connect UART inputs according to MIO mapping.<br/>1 = Loop UART 0 outputs to UART 1 inputs, and UART 1 outputs to UART 0 inputs.<br/>RXD/TXD cross-connected.<br/>RTS/CTS cross-connected.<br/>DSR, DTR, DCD and RI not used.</td></tr>
<tr valign=top><td>SPI0_LOOP_SPI1</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>SPI Loopback Control.<br/>0 = Connect SPI inputs according to MIO mapping.<br/>1 = Loop SPI 0 outputs to SPI 1 inputs, and SPI 1 outputs to SPI 0 inputs.<br/>The other SPI core will appear on the LS Slave Select.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>