<!doctype html>
<html>
<head>
<title>GICP_PMU_IRQ_MASK (LPD_SLCR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___lpd_slcr.html")>LPD_SLCR Module</a> &gt; GICP_PMU_IRQ_MASK (LPD_SLCR) Register</p><h1>GICP_PMU_IRQ_MASK (LPD_SLCR) Register</h1>
<h2>GICP_PMU_IRQ_MASK (LPD_SLCR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>GICP_PMU_IRQ_MASK</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x00000080A4</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF4180A4 (LPD_SLCR)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x000000FF</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Mask Register for intrN. This is a read-only location and can be atomically altered by either the IDR or the IER.</td></tr>
</table>
<p></p>
<h2>GICP_PMU_IRQ_MASK (LPD_SLCR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:8</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved for future use</td></tr>
<tr valign=top><td>src4</td><td class="center"> 4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Create single interrupt source for PMU from GICP4</td></tr>
<tr valign=top><td>src3</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Create single interrupt source for PMU from GICP3</td></tr>
<tr valign=top><td>src2</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Create single interrupt source for PMU from GICP2</td></tr>
<tr valign=top><td>src1</td><td class="center"> 1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Create single interrupt source for PMU from GICP1</td></tr>
<tr valign=top><td>src0</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Create single interrupt source for PMU from GICP0</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>