<!doctype html>
<html>
<head>
<title>idr (LPD_SLCR_SECURE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___lpd_slcr_secure.html")>LPD_SLCR_SECURE Module</a> &gt; idr (LPD_SLCR_SECURE) Register</p><h1>idr (LPD_SLCR_SECURE) Register</h1>
<h2>idr (LPD_SLCR_SECURE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>idr</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000014</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF4B0014 (LPD_SLCR_SECURE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder> 1</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Disable Register</td></tr>
</table>
<p>Write a 1 to mask the interrupt. (sets IMR bit = 1)</p>
<h2>idr (LPD_SLCR_SECURE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>addr_decode_err</td><td class="center"> 0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Mask for an address decode error.<br/>Writes:<br/>0: ignored.<br/>1: IMR register bit set to 1.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>