<!doctype html>
<html>
<head>
<title>lpd_apu (LPD_SLCR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___lpd_slcr.html")>LPD_SLCR Module</a> &gt; lpd_apu (LPD_SLCR) Register</p><h1>lpd_apu (LPD_SLCR) Register</h1>
<h2>lpd_apu (LPD_SLCR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>lpd_apu</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000A040</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF41A040 (LPD_SLCR)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000001</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>APU Configuration. This register may be written to only when APU is in reset</td></tr>
</table>
<p></p>
<h2>lpd_apu (LPD_SLCR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:4</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>brdc_barrier</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enable broadcasting of barriers onto the system bus</td></tr>
<tr valign=top><td>brdc_cmnt</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enable broadcasting of cache maintenance operations to downstream caches</td></tr>
<tr valign=top><td>brdc_inner</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enable broadcasting of Inner Shareable transactions</td></tr>
<tr valign=top><td>brdc_outer</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Enable broadcasting of Outer Shareable trasnactions</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>