<!doctype html>
<html>
<head>
<title>CCI_REG Module</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> > CCI_REG Module</p><h1>CCI_REG Module</h1>
<h2>CCI_REG Module Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Module Name</th><td width=80% class=noborder>Cache Coherent Interconnect Configuration and Event registers (CCI_REG)</td></tr>
<tr valign=top><th width=20% class=sumparam>Modules of this Type</th><td width=80% class=noborder>CCI_REG</td></tr>
<tr valign=top><th class=sumparam>Base Address</th><td class=noborder>0x00FD5E0000 (CCI_REG)</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>AXI Cache Coherent Interconnect Configuration</td></tr>
</table>
<h2>CCI_REG Module Register Summary</h2>
<table>
<tr valign=top><th width=20%>Register Name</th><th width=10%>Address</th><th width=10%>Width</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=40%>Description</th></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___misc_ctrl.html")>MISC_CTRL</a></td><td class="hex">0x0000000000</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x00000000</td><td>Controls for the register block.</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___isr_0.html")>ISR_0</a></td><td class="hex">0x0000000010</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Interrupt Status Register. This is a sticky register that holds the value of the interrupt until cleared by a value of 1.</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___imr_0.html")>IMR_0</a></td><td class="hex">0x0000000014</td><td class="center">32</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x8000003F</td><td>Interrupt Mask Register. This is a read-only location and can be atomically altered by either the IDR or the IER.</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___ier_0.html")>IER_0</a></td><td class="hex">0x0000000018</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Interrupt Enable Register. A write of 1 to this location will unmask the interrupt</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___idr_0.html")>IDR_0</a></td><td class="hex">0x000000001C</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Interrupt Disable Register. A write of 1 to this location will mask the interrupt</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("cci_reg___cci_misc_ctrl.html")>CCI_MISC_CTRL</a></td><td class="hex">0x0000000040</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Misc control registesr</td></tr>
</table>
<p id=foot class=footer></p>
</body>
</html>