<!doctype html>
<html>
<head>
<title>RSA_CORE Module</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> > RSA_CORE Module</p><h1>RSA_CORE Module</h1>
<h2>RSA_CORE Module Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Module Name</th><td width=80% class=noborder>RSA_CORE Module</td></tr>
<tr valign=top><th width=20% class=sumparam>Modules of this Type</th><td width=80% class=noborder>RSA_CORE</td></tr>
<tr valign=top><th class=sumparam>Base Address</th><td class=noborder>0x00FFCE0000 (RSA_CORE)</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>RSA Core Data and Configuration</td></tr>
</table>
<h2>RSA_CORE Module Register Summary</h2>
<table>
<tr valign=top><th width=20%>Register Name</th><th width=10%>Address</th><th width=10%>Width</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=40%>Description</th></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___rsa_wr_data.html")>rsa_wr_data</a></td><td class="hex">0x0000000000</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Write Data</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___rsa_wr_addr.html")>rsa_wr_addr</a></td><td class="hex">0x0000000004</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Write Address</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___rsa_rd_data.html")>rsa_rd_data</a></td><td class="hex">0x0000000008</td><td class="center">32</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x00000000</td><td>Read Data</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___rsa_rd_addr.html")>rsa_rd_addr</a></td><td class="hex">0x000000000C</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Read Address</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___ctrl.html")>ctrl</a></td><td class="hex">0x0000000010</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA Control</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___status.html")>status</a></td><td class="hex">0x0000000014</td><td class="center">32</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x00000000</td><td>RSA Status</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___minv0.html")>minv0</a></td><td class="hex">0x0000000018</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA MINV0</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___minv1.html")>minv1</a></td><td class="hex">0x000000001C</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA MINV1</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___minv2.html")>minv2</a></td><td class="hex">0x0000000020</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA MINV2</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___minv3.html")>minv3</a></td><td class="hex">0x0000000024</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA MINV3</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("rsa_core___zero.html")>zero</a></td><td class="hex">0x0000000028</td><td class="center">32</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>RSA Zero</td></tr>
</table>
<p id=foot class=footer></p>
</body>
</html>