<!doctype html>
<html>
<head>
<title>AXIPCIE_EGRESS Module</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> > AXIPCIE_EGRESS Module</p><h1>AXIPCIE_EGRESS Module</h1>
<h2>AXIPCIE_EGRESS Module Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Module Name</th><td width=80% class=noborder>AXIPCIE_EGRESS Module</td></tr>
<tr valign=top><th width=20% class=sumparam>Modules of this Type</th><td width=80% class=noborder>AXIPCIE_EGRESS0, AXIPCIE_EGRESS1, AXIPCIE_EGRESS2, AXIPCIE_EGRESS3, AXIPCIE_EGRESS4, AXIPCIE_EGRESS5, AXIPCIE_EGRESS6, AXIPCIE_EGRESS7</td></tr>
<tr valign=top><th class=sumparam>Base Address</th><td class=noborder>0x00FD0E0C00 (AXIPCIE_EGRESS0)<br/>0x00FD0E0C20 (AXIPCIE_EGRESS1)<br/>0x00FD0E0C40 (AXIPCIE_EGRESS2)<br/>0x00FD0E0C60 (AXIPCIE_EGRESS3)<br/>0x00FD0E0C80 (AXIPCIE_EGRESS4)<br/>0x00FD0E0CA0 (AXIPCIE_EGRESS5)<br/>0x00FD0E0CC0 (AXIPCIE_EGRESS6)<br/>0x00FD0E0CE0 (AXIPCIE_EGRESS7)</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PCIe Bridge - Egress Addr Translation 0</td></tr>
</table>
<h2>AXIPCIE_EGRESS Module Register Summary</h2>
<table>
<tr valign=top><th width=20%>Register Name</th><th width=10%>Address</th><th width=10%>Width</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=40%>Description</th></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_capabilities.html")>TRAN_EGRESS_CAPABILITIES</a></td><td class="hex">0x0000000000</td><td class="center">32</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1F0C0001</td><td>Egress AXI Translation - Capabilities</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_status.html")>TRAN_EGRESS_STATUS</a></td><td class="hex">0x0000000004</td><td class="center">32</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Status</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_control.html")>TRAN_EGRESS_CONTROL</a></td><td class="hex">0x0000000008</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Control</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_src_base_lo.html")>TRAN_EGRESS_SRC_BASE_LO</a></td><td class="hex">0x0000000010</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Source Address Low</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_src_base_hi.html")>TRAN_EGRESS_SRC_BASE_HI</a></td><td class="hex">0x0000000014</td><td class="center">32</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Source Address High</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_dst_base_lo.html")>TRAN_EGRESS_DST_BASE_LO</a></td><td class="hex">0x0000000018</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Destination Address Low</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("axipcie_egress___tran_egress_dst_base_hi.html")>TRAN_EGRESS_DST_BASE_HI</a></td><td class="hex">0x000000001C</td><td class="center">32</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x00000000</td><td>Egress AXI Translation - Destination Address High</td></tr>
</table>
<p id=foot class=footer></p>
</body>
</html>