<!doctype html>
<html>
<head>
<title>IOU_SECURE_SLCR Module</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> > IOU_SECURE_SLCR Module</p><h1>IOU_SECURE_SLCR Module</h1>
<h2>IOU_SECURE_SLCR Module Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Module Name</th><td width=80% class=noborder>iou secure slcr regsiters (IOU_SECURE_SLCR)</td></tr>
<tr valign=top><th width=20% class=sumparam>Modules of this Type</th><td width=80% class=noborder>IOU_SECURE_SLCR</td></tr>
<tr valign=top><th class=sumparam>Base Address</th><td class=noborder>0x00FF240000 (IOU_SECURE_SLCR)</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>IOP System-level Control - Secure</td></tr>
</table>
<h2>IOU_SECURE_SLCR Module Register Summary</h2>
<table>
<tr valign=top><th width=20%>Register Name</th><th width=10%>Address</th><th width=10%>Width</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=40%>Description</th></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___iou_axi_wprtcn.html")>IOU_AXI_WPRTCN</a></td><td class="hex">0x0000000000</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>AXI write protection type selection</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___iou_axi_rprtcn.html")>IOU_AXI_RPRTCN</a></td><td class="hex">0x0000000004</td><td class="center">32</td><td class="tooltip">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td><td class="hex">0x00000000</td><td>AXI read protection type selection</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___ctrl.html")>ctrl</a></td><td class="hex">0x0000000040</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x00000000</td><td>General control register for the IOU SLCR</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___isr.html")>isr</a></td><td class="hex">0x0000000044</td><td class="center"> 1</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x00000000</td><td>Interrupt Status Register</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___imr.html")>imr</a></td><td class="hex">0x0000000048</td><td class="center"> 1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x00000001</td><td>Interrupt Mask Register</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___ier.html")>ier</a></td><td class="hex">0x000000004C</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Interrupt Enable Register</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___idr.html")>idr</a></td><td class="hex">0x0000000050</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Interrupt Disable Register</td></tr>
<tr valign=top><td><a href=# onclick=gotoTopic("iou_secure_slcr___itr.html")>itr</a></td><td class="hex">0x0000000054</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x00000000</td><td>Interrupt Trigger Register</td></tr>
</table>
<p id=foot class=footer></p>
</body>
</html>