<!doctype html>
<html>
<head>
<title>Interrupt_Signal_Enable_Register (NAND) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___nand.html")>NAND Module</a> &gt; Interrupt_Signal_Enable_Register (NAND) Register</p><h1>Interrupt_Signal_Enable_Register (NAND) Register</h1>
<h2>Interrupt_Signal_Enable_Register (NAND) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>Interrupt_Signal_Enable_Register</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000018</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF100018 (NAND)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Signal Enable.</td></tr>
</table>
<p>0: disable. 1: enable.</p>
<h2>Interrupt_Signal_Enable_Register (NAND) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:8</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>error_ahb_sig_en</td><td class="center"> 7</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>AHB Error Interrupt. This is applicable only during MDMA mode of<br/>transfer.</td></tr>
<tr valign=top><td>dma_int_sig_en</td><td class="center"> 6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>DMA Interrupt. This is applicable only during MDMA mode of<br/>transfer.</td></tr>
<tr valign=top><td>ecc_err_intrpt_sig_en</td><td class="center"> 5</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>ECC error Interrupt, in SLC (Hamming).</td></tr>
<tr valign=top><td>err_intrpt_sig_en</td><td class="center"> 4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Single bit error Interrupt for SLC and MLC.</td></tr>
<tr valign=top><td>mul_bit_err_sig_en</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Multi-bit error Interrupt. This field is used during Hamming (SLC) Error<br/>correction else treated as 0.</td></tr>
<tr valign=top><td>trans_comp_sig_en</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Transfer Complete Interrupt.</td></tr>
<tr valign=top><td>buff_rd_rdy_sig_en</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Buffer Read Ready Interrupt.</td></tr>
<tr valign=top><td>buff_wr_rdy_sig_en</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Buffer write Ready Interrupt.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>