<!doctype html>
<html>
<head>
<title>DMA_system_address0_register (NAND) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___nand.html")>NAND Module</a> &gt; DMA_system_address0_register (NAND) Register</p><h1>DMA_system_address0_register (NAND) Register</h1>
<h2>DMA_system_address0_register (NAND) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>DMA_system_address0_register</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000050</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF100050 (NAND)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>DMA System Address, reg2.</td></tr>
</table>
<p>Applies only to MDMA transaction mode.</p>
<h2>DMA_system_address0_register (NAND) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>DMA_system_address0_register</td><td class="center">31:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>System memory address for a DMA transfer. Applicable to MDMA mode of transaction.<br/>Contains the LSB address when using 64-bit addressing with the DMA_system_address1_register.<br/>The driver initializes this register before starting a DMA transaction. The DMA transfer waits at every boundary specified by the DMA_buffer_boundary_register. The controller generates the DMA interrupt to request an update to the address register(s). The driver sets the next system address of the next data position.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>