<!doctype html>
<html>
<head>
<title>OCM_CE_FFD3 (OCM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ocm.html")>OCM Module</a> &gt; OCM_CE_FFD3 (OCM) Register</p><h1>OCM_CE_FFD3 (OCM) Register</h1>
<h2>OCM_CE_FFD3 (OCM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>OCM_CE_FFD3</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000002C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF96002C (OCM)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Correctable Error First Failing Data Register (CE_FFD [127:96])</td></tr>
</table>
<p></p>
<h2>OCM_CE_FFD3 (OCM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>DATA</td><td class="center">31:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>This register stores the (uncorrected) failing data (bits [127:96]) of the first occurrence of an access with a correctable error.<br/>OCM holds the logged value untill software clears the CE interrupt.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>