<!doctype html>
<html>
<head>
<title>ATTR_76 (PCIE_ATTRIB) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pcie_attrib.html")>PCIE_ATTRIB Module</a> &gt; ATTR_76 (PCIE_ATTRIB) Register</p><h1>ATTR_76 (PCIE_ATTRIB) Register</h1>
<h2>ATTR_76 (PCIE_ATTRIB) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ATTR_76</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000130</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD480130 (PCIE_ATTRIB)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>ATTR_76</td></tr>
</table>
<p>This register should only be written to during reset of the PCIe block</p>
<h2>ATTR_76 (PCIE_ATTRIB) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>attr_rbar_cap_index4</td><td class="center">14:12</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>BAR Index value for Resizable BAR Control Register(4). Set to 0 if 4 or fewer BARs can be resized. This value should not be lower than the value on RBAR_CAP_INDEX0,1,2,3. ; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_rbar_cap_index3</td><td class="center">11:9</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>BAR Index value for Resizable BAR Control Register(3). Set to 0 if 3 or fewer BARs can be resized. This value should not be lower than the value on RBAR_CAP_INDEX0,1,2. ; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_rbar_cap_index2</td><td class="center"> 8:6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>BAR Index value for Resizable BAR Control Register(2). Set to 0 if 2 or fewer BARs can be resized. This value should not be lower than the value on RBAR_CAP_INDEX0,1. ; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_rbar_cap_index1</td><td class="center"> 5:3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>BAR Index value for Resizable BAR Control Register(1). Set to 0 if 1 or fewer BARs can be resized. This value should not be lower than the value on RBAR_CAP_INDEX0. ; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_rbar_cap_index0</td><td class="center"> 2:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>BAR Index value for Resizable BAR Control Register(0). This value must be the lowest BAR Index of the resizable BARs.; EP=0x0000; RP=0x0000</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>