<!doctype html>
<html>
<head>
<title>ATTR_55 (PCIE_ATTRIB) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pcie_attrib.html")>PCIE_ATTRIB Module</a> &gt; ATTR_55 (PCIE_ATTRIB) Register</p><h1>ATTR_55 (PCIE_ATTRIB) Register</h1>
<h2>ATTR_55 (PCIE_ATTRIB) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ATTR_55</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x00000000DC</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD4800DC (PCIE_ATTRIB)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>ATTR_55</td></tr>
</table>
<p>This register should only be written to during reset of the PCIe block</p>
<h2>ATTR_55 (PCIE_ATTRIB) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>attr_pm_data0</td><td class="center">13:6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Power Management Data register 0 (D0 Power Consumed). This value will appear in the Data field of the PM Status Register if the value 0000b is written by the host to the Data Select field of the PM Control Register. ; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_pm_data_scale7</td><td class="center"> 5:4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Power Management Data Scale register 7. Specifies the scale applied to PM_DATA7.<br/>The power consumption of the device is determined by multiplying the contents of the Base Power Data register field with the value corresponding to the encoding returned by this field.<br/>Defined encodings are: 0h 1.0x, 1h 0.1x, 2h 0.01x, 3h 0.001x; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_pm_data_scale6</td><td class="center"> 3:2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Power Management Data Scale register 6. Specifies the scale applied to PM_DATA6.<br/>The power consumption of the device is determined by multiplying the contents of the Base Power Data register field with the value corresponding to the encoding returned by this field.<br/>Defined encodings are: 0h 1.0x, 1h 0.1x, 2h 0.01x, 3h 0.001x; EP=0x0000; RP=0x0000</td></tr>
<tr valign=top><td>attr_pm_data_scale5</td><td class="center"> 1:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Power Management Data Scale register 5. Specifies the scale applied to PM_DATA5.<br/>The power consumption of the device is determined by multiplying the contents of the Base Power Data register field with the value corresponding to the encoding returned by this field.<br/>Defined encodings are: 0h 1.0x, 1h 0.1x, 2h 0.01x, 3h 0.001x; EP=0x0000; RP=0x0000</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>