<!doctype html>
<html>
<head>
<title>PS_CNTRL (PMU_GLOBAL) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_global.html")>PMU_GLOBAL Module</a> &gt; PS_CNTRL (PMU_GLOBAL) Register</p><h1>PS_CNTRL (PMU_GLOBAL) Register</h1>
<h2>PS_CNTRL (PMU_GLOBAL) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>PS_CNTRL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000004</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD80004 (PMU_GLOBAL)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PL Program Initiation Control.</td></tr>
</table>
<p>The PL can be initialized  by using the PS_PROG_B pin or the CSU.pcap_prog [pcfg_prog_b] register bit. These signals can be blocked using the [Prog_Gate] bit and unblocked using the [Prog_Enable] bit. The following bits are used together: [Prog_Enable] [Prog_Gate] 0 0 --> previous prog_gate control is maintained. 0 1 --> PROG_B is blocked (gated). 1 0 --> PROG_B allowed to propagate to PL reset circuit. 1 1 --> invalid.</p>
<h2>PS_CNTRL (PMU_GLOBAL) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:17</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>Prog_Gate_Status</td><td class="center">16</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>PROG gate status.<br/>0: PROG_B allowed to reset PL<br/>1: PROG_B blocked<br/>Read-only.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">15:2</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>Prog_Enable</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enables PROG_B to propagate and reset the PL. This bit clears the PROG_GATE latch when set. PROG_ENABLE and PROG_GATE must never be set at the same time.</td></tr>
<tr valign=top><td>Prog_Gate</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Gates PROG_B preventing propagation and reset of the PL. This bit sets the PROG_GATE latch when set. PROG_ENABLE and PROG_GATE must never be set at the same time.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>