<!doctype html>
<html>
<head>
<title>LOCAL_GEN_STORAGE2 (PMU_LOCAL) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_local.html")>PMU_LOCAL Module</a> &gt; LOCAL_GEN_STORAGE2 (PMU_LOCAL) Register</p><h1>LOCAL_GEN_STORAGE2 (PMU_LOCAL) Register</h1>
<h2>LOCAL_GEN_STORAGE2 (PMU_LOCAL) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>LOCAL_GEN_STORAGE2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000308</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD60308 (PMU_LOCAL)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PMU ROM code: ID Value of ROM Undefiend Service Request.</td></tr>
</table>
<p>This register can hold the ID value of the last PMU_ROM service that was requested which does not contain a concrete ROM routine. This event is known by the presence of the UNDEFINED_SERVICE error in PMU_LOCAL.PMU_SERV_ERR. (0x400). This register is reserved for the PMU ROM code.</p>
<h2>LOCAL_GEN_STORAGE2 (PMU_LOCAL) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>Reg</td><td class="center">31:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Refer to the service extension table (256 services).</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>