<!doctype html>
<html>
<head>
<title>PIT1_CONTROL (PMU_IOMODULE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_iomodule.html")>PMU_IOMODULE Module</a> &gt; PIT1_CONTROL (PMU_IOMODULE) Register</p><h1>PIT1_CONTROL (PMU_IOMODULE) Register</h1>
<h2>PIT1_CONTROL (PMU_IOMODULE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>PIT1_CONTROL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000058</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD40058 (PMU_IOMODULE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PIT1 Control Register</td></tr>
</table>
<p>The EN bit in this register enables/disables counting.  The PRELOAD bit determines if the counting is continuous with automatic reload of the PIT1_PRELOAD value when lapsing (PIT1_COUNTER = 0) or if the counting is stopped after counting the number of cycles defined in PIT1_PRELOAD.</p>
<h2>PIT1_CONTROL (PMU_IOMODULE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:2</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>PRELOAD</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>0 = Counter counts PIT1_PRELOAD value cycles and then stops<br/>1 = Counter value is automatically reloaded with the PIT1_PRELOAD value when counter lapses</td></tr>
<tr valign=top><td>EN</td><td class="center"> 0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>0 = Counter Disabled<br/>1 = Counter Enabled</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>