<!doctype html>
<html>
<head>
<title>INSTRUCTION_INJECT_ADDR (PMU_IOMODULE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_iomodule.html")>PMU_IOMODULE Module</a> &gt; INSTRUCTION_INJECT_ADDR (PMU_IOMODULE) Register</p><h1>INSTRUCTION_INJECT_ADDR (PMU_IOMODULE) Register</h1>
<h2>INSTRUCTION_INJECT_ADDR (PMU_IOMODULE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>INSTRUCTION_INJECT_ADDR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000001014</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD41014 (PMU_IOMODULE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Instruction Injection Address (IOModule_1.GPO1)</td></tr>
</table>
<p></p>
<h2>INSTRUCTION_INJECT_ADDR (PMU_IOMODULE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>_</td><td class="center">31:0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Used to control the address where fault injection of an instruction is performed.</td></tr>
</table><p>This register holds the value that will be driven to the corresponding bits in the I/O Module GPO2 port output signals. <br/>All bits are in the register are updated wihen the register is written.</p>
<p id=foot class=footer></p>
</body>
</html>