<!doctype html>
<html>
<head>
<title>IRQ_MODE (PMU_IOMODULE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_iomodule.html")>PMU_IOMODULE Module</a> &gt; IRQ_MODE (PMU_IOMODULE) Register</p><h1>IRQ_MODE (PMU_IOMODULE) Register</h1>
<h2>IRQ_MODE (PMU_IOMODULE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>IRQ_MODE</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000000C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD4000C (PMU_IOMODULE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Mode Register</td></tr>
</table>
<p>This register is used to define which interrupts use fast interrupt mode. All bits set to 1 use fast interrupt mode.</p>
<h2>IRQ_MODE (PMU_IOMODULE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:0</td><td class="tooltip grayback">wo<span class="tooltiptext">Write-only</span></td><td class="hex grayback">0x0</td><td class=grayback>All bit positions written with 1 use fast interrupt mode</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>