<!doctype html>
<html>
<head>
<title>SAFETY_GATE (PMU_GLOBAL) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_global.html")>PMU_GLOBAL Module</a> &gt; SAFETY_GATE (PMU_GLOBAL) Register</p><h1>SAFETY_GATE (PMU_GLOBAL) Register</h1>
<h2>SAFETY_GATE (PMU_GLOBAL) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>SAFETY_GATE</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000650</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD80650 (PMU_GLOBAL)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000007</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Safety gates disable hardware functions.</td></tr>
</table>
<p>Disable hardware functions against accidental enabling. Register is reset only by a POR reset.</p>
<h2>SAFETY_GATE (PMU_GLOBAL) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:3</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback></td></tr>
<tr valign=top><td>PMU_LOGCLR_Enable</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>PMU Logic Clear Gate Function. If set to 0, it would prevent PMU Logic Clear function from being accidentally enabled.</td></tr>
<tr valign=top><td>LBIST_Enable</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>After a POR reset, the PMU hardware generates a signal to the LBIST controllers. Set [LBIST_Enable] = 0 to help prevent an SEU in the signaling hardware from inadvertently causing LBIST operations to occur during normal operating mode.</td></tr>
<tr valign=top><td>Scan_Enable</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Scan Clear Function Enable. Set [Scan_Enable] = 0 to help prevent inadvertent assertion of the scan clear signal by software or an SEU in the hardware.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>