<!doctype html>
<html>
<head>
<title>GPO3 (PMU_IOMODULE) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pmu_iomodule.html")>PMU_IOMODULE Module</a> &gt; GPO3 (PMU_IOMODULE) Register</p><h1>GPO3 (PMU_IOMODULE) Register</h1>
<h2>GPO3 (PMU_IOMODULE) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>GPO3</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000001C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFD4001C (PMU_IOMODULE)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>PMU to PL Signals (GPO3)</td></tr>
</table>
<p>General Purpose Outputs to the Programmable Logic</p>
<h2>GPO3 (PMU_IOMODULE) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>PL_GPO_31</td><td class="center">31</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_30</td><td class="center">30</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_29</td><td class="center">29</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_28</td><td class="center">28</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_27</td><td class="center">27</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_26</td><td class="center">26</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_25</td><td class="center">25</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_24</td><td class="center">24</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_23</td><td class="center">23</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_22</td><td class="center">22</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_21</td><td class="center">21</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_20</td><td class="center">20</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_19</td><td class="center">19</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_18</td><td class="center">18</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_17</td><td class="center">17</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_16</td><td class="center">16</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_15</td><td class="center">15</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_14</td><td class="center">14</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_13</td><td class="center">13</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_12</td><td class="center">12</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_11</td><td class="center">11</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_10</td><td class="center">10</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_9</td><td class="center"> 9</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_8</td><td class="center"> 8</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_7</td><td class="center"> 7</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_6</td><td class="center"> 6</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_5</td><td class="center"> 5</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_4</td><td class="center"> 4</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_3</td><td class="center"> 3</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_2</td><td class="center"> 2</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_1</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
<tr valign=top><td>PL_GPO_0</td><td class="center"> 0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>General Purpose Output from the Programmable Logic</td></tr>
</table><p>This register holds the value that will be driven to the corresponding bits in the I/O Module GPO4 port output signals. <br/>All bits are in the register are updated when the register is written.</p>
<p id=foot class=footer></p>
</body>
</html>