<!doctype html>
<html>
<head>
<title>SEQ_AVERAGE2 (PSSYSMON) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___pssysmon.html")>PSSYSMON Module</a> &gt; SEQ_AVERAGE2 (PSSYSMON) Register</p><h1>SEQ_AVERAGE2 (PSSYSMON) Register</h1>
<h2>SEQ_AVERAGE2 (PSSYSMON) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>SEQ_AVERAGE2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000011C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFA5091C (AMS_PS_SYSMON)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>16</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Sequencer Average Enable, Group 2.</td></tr>
</table>
<p>Enable averaging over multiple readings on a per channel basis. Applies to auto-sequencing. 0: disabled. 1: enabled. The enable and averaging size are selected by Config_Reg0 [13:12].</p>
<h2>SEQ_AVERAGE2 (PSSYSMON) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>average2</td><td class="center">15:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Refer to SEQ_CHANNEL2 for bit assignments.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>