<!doctype html>
<html>
<head>
<title>Intr_status_REG (QSPI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___qspi.html")>QSPI Module</a> &gt; Intr_status_REG (QSPI) Register</p><h1>Intr_status_REG (QSPI) Register</h1>
<h2>Intr_status_REG (QSPI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>Intr_status_REG</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000004</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF0F0004 (QSPI)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000104</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Status</td></tr>
</table>
<p>This register is set when the described event occurs and the interrupt is enabled in the mask register. When any of these bits are set the interrupt output is asserted high. In the default configuration, these bits are all cleared simultaneously by reading this register, though this may be configured for an individual write-one-to-clear scheme.</p>
<h2>Intr_status_REG (QSPI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:9</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>TXFIFO_EMPTY</td><td class="center"> 8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>TX FIFO Empty interrupt:<br/>0: TX FIFO is not empty.<br/>1: TX FIFO is empty.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 7</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>TX_FIFO_underflow</td><td class="center"> 6</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>TX FIFO underflow status:<br/>0: no underflow has been detected.<br/>1: underflow is detected.<br/>Write 1 to this bit location to clear</td></tr>
<tr valign=top><td>RX_FIFO_full</td><td class="center"> 5</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>RX FIFO full (current FIFO status):<br/>0: FIFO is not full.<br/>1: FIFO is full.</td></tr>
<tr valign=top><td>RX_FIFO_not_empty</td><td class="center"> 4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>RX FIFO not empty (current FIFO status):<br/>0: FIFO has less than RX THRESHOLD entries.<br/>1: FIFO has more than or equal to RX THRESHOLD entries.</td></tr>
<tr valign=top><td>TX_FIFO_full</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>TX FIFO full (current FIFO status):<br/>0: FIFO is not full<br/>1: FIFO is full</td></tr>
<tr valign=top><td>TX_FIFO_not_full</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>TX FIFO not full (current FIFO status):<br/>0: FIFO has more than or equal to TX THRESHOLD entries.<br/>1: FIFO has less than TX THRESHOLD entries.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 1</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>RX_OVERFLOW</td><td class="center"> 0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Receive Overflow interrupt:<br/>0: no overflow occurred.<br/>1: overflow occurred.<br/>Write 1 to this bit location to clear.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>