<!doctype html>
<html>
<head>
<title>MPUIR (R5_DBG_1) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___r5_dbg_1.html")>R5_DBG_1 Module</a> &gt; MPUIR (R5_DBG_1) Register</p><h1>MPUIR (R5_DBG_1) Register</h1>
<h2>MPUIR (R5_DBG_1) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>MPUIR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000D10</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEBF2D10 (CORESIGHT_R5_DBG_1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000C00</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>MPU Type Register</td></tr>
</table>
<p></p>
<h2>MPUIR (R5_DBG_1) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>DRegion</td><td class="center">15:8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0xC</td><td>Specifies the number of unified MPU regions. Set to 0, 12, or 16 data MPU regions.</td></tr>
<tr valign=top><td>S</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Specifies the type of MPU regions, unified or separate, in the processor. Always set to 0, the processor has unified memory regions</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>