<!doctype html>
<html>
<head>
<title>ITR (R5_DBG_1) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___r5_dbg_1.html")>R5_DBG_1 Module</a> &gt; ITR (R5_DBG_1) Register</p><h1>ITR (R5_DBG_1) Register</h1>
<h2>ITR (R5_DBG_1) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ITR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000084</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEBF2084 (CORESIGHT_R5_DBG_1)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Instruction Transfer Register</td></tr>
</table>
<p></p>
<h2>ITR (R5_DBG_1) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>Instruction</td><td class="center">31:0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0</td><td>The Instruction Transfer Register, bits [31:0] contain the Arm instruction for the processor to<br/>execute while in debug state.<br/>Note:<br/>Writes to the ITR when the processor is not in debug state or the DSCR[13] execute instruction enable bit is clearedare Unpredictable. When an instruction is issued to the processor, the debug unit prevents the next instruction from being issued until the DSCR[25] instruction complete bit is set.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>