<!doctype html>
<html>
<head>
<title>CCER (R5_ETM_0) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___r5_etm_0.html")>R5_ETM_0 Module</a> &gt; CCER (R5_ETM_0) Register</p><h1>CCER (R5_ETM_0) Register</h1>
<h2>CCER (R5_ETM_0) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CCER</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x00000001E8</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FEBFC1E8 (CORESIGHT_R5_ETM_0)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x0000097A</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Configuration Code Extension Register</td></tr>
</table>
<p></p>
<h2>CCER (R5_ETM_0) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>All_readable</td><td class="center">11</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>All registers, except some integration test registers, are readable.</td></tr>
<tr valign=top><td>Size_of_eextin</td><td class="center">10:3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x2F</td><td>Size of extended external input bus.</td></tr>
<tr valign=top><td>No_of_eextin_sel</td><td class="center"> 2:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x2</td><td>Number of extended external input selectors.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>