<!doctype html>
<html>
<head>
<title>ADDR_ERROR_INT_MASK (RTC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___rtc.html")>RTC Module</a> &gt; ADDR_ERROR_INT_MASK (RTC) Register</p><h1>ADDR_ERROR_INT_MASK (RTC) Register</h1>
<h2>ADDR_ERROR_INT_MASK (RTC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ADDR_ERROR_INT_MASK</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000034</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFA60034 (RTC)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder> 1</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000001</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Address Decode Error Interrupt Mask.</td></tr>
</table>
<p>This read-only register is used to provide the status of the Address Error Interrupt Mask and can be set of cleared through the corresponding Interrupt Enable or Disable registers</p>
<h2>ADDR_ERROR_INT_MASK (RTC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>Mask</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Mask for an address decode error interrupt</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>