<!doctype html>
<html>
<head>
<title>PxSNTF (SATA_AHCI_PORTCNTRL) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___sata_ahci_portcntrl.html")>SATA_AHCI_PORTCNTRL Module</a> &gt; PxSNTF (SATA_AHCI_PORTCNTRL) Register</p><h1>PxSNTF (SATA_AHCI_PORTCNTRL) Register</h1>
<h2>PxSNTF (SATA_AHCI_PORTCNTRL) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>PxSNTF</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000003C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0C013C (SATA_AHCI_PORT0_CNTRL)<br/>0x00FD0C01BC (SATA_AHCI_PORT1_CNTRL)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Port x Serial ATA Notification (SCR4: SNotification)</td></tr>
</table>
<p>Used to determine if asynchronous notification events have occurred for directly connected devices and devices connected to a Port Multiplier.</p>
<h2>PxSNTF (SATA_AHCI_PORTCNTRL) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:16</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>PMN</td><td class="center">15:0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>PM Notify (PMN): This field indicates whether a particular device with the corresponding PM Port number issued a Set Device Bits FIS to the host with the Notification bit set.<br/>PM Port 0h sets bit 0..<br/>PM Port Fh sets bit 15<br/>Individual bits are cleared by software writing 1's to the corresponding bit positions.<br/>This field is reset to default on a HBA Reset, but it is not reset by COMRESET or software reset.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>