<!doctype html>
<html>
<head>
<title>CCC_CTL (SATA_AHCI_HBA) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___sata_ahci_hba.html")>SATA_AHCI_HBA Module</a> &gt; CCC_CTL (SATA_AHCI_HBA) Register</p><h1>CCC_CTL (SATA_AHCI_HBA) Register</h1>
<h2>CCC_CTL (SATA_AHCI_HBA) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CCC_CTL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000014</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD0C0014 (SATA_AHCI_HBA)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00010110</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Command Completion Coalescing Control</td></tr>
</table>
<p>The command completion coalescing control register is used to configure the command completion coalescing feature for the entire HBA. HBA state variables (examples include hCccComplete and hCccTimer) are used to describe the required externally visible behavior. Implementations are not required to have internal state values that directly correspond to these variables.</p>
<h2>CCC_CTL (SATA_AHCI_HBA) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>TV</td><td class="center">31:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Timeout Value (TV): The timeout value is specified in 1 millisecond intervals.<br/>The timer accuracy shall be within 5%.<br/>hCccTimer is loaded with this timeout value.<br/>hCccTimer is only decremented when commands are outstanding on selected ports, as defined in section 11.2.<br/>The HBA will signal a CCC interrupt when hCccTimer has decremented to '0'.<br/>hCccTimer is reset to the timeout value on the assertion of each CCC interrupt.<br/>A timeout value of '0'<br/>is reserved.</td></tr>
<tr valign=top><td>CC</td><td class="center">15:8</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Command Completions (CC): Specifies the number of command completions that are necessary to cause a CCC interrupt.<br/>The HBA has an internal command completion counter, hCccComplete.<br/>hCccComplete is incremented by one each time a selected port has a command completion.<br/>When hCccComplete is equal to the command completions value, a CCC interrupt is signaled.<br/>The internal command completion counter is reset to '0' on the assertion of each CCC interrupt.<br/>A value of '0' for this field shall disable CCC interrupts being generated based on the number of commands completed, i.e. CCC interrupts are only generated based on the timer in this case.</td></tr>
<tr valign=top><td>INT</td><td class="center"> 7:3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x2</td><td>Interrupt (INT): Specifies the interrupt used by the CCC feature.<br/>This interrupt must be marked as unused in the Ports Implemented (PI) register by the corresponding bit being set to '0'.<br/>Thus, the CCC interrupt corresponds to the interrupt for an unimplemented port on the controller.<br/>When a CCC interrupt occurs, the IS.IPS[INT] bit shall be asserted to '1'.<br/>This field also specifies the interrupt vector used for MSI.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 2:1</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>EN</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Enable (EN): When cleared to '0', the command completion coalescing feature is disabled and no CCC interrupts are generated.<br/>When set to '1', the command completion coalescing feature is enabled and CCC interrupts may be generated based on timeout or command completion conditions.<br/>Software shall only change the contents of the TV and CC fields when EN is cleared to '0'. On transition of this bit from '0' to '1', any updated values for the TV and CC fields shall take effect.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>