<!doctype html>
<html>
<head>
<title>HEFEAT1R (STM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___stm.html")>STM Module</a> &gt; HEFEAT1R (STM) Register</p><h1>HEFEAT1R (STM) Register</h1>
<h2>HEFEAT1R (STM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>HEFEAT1R</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000DF8</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE9C0DF8 (CORESIGHT_SOC_STM)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00200035</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Read the features of the STM.</td></tr>
</table>
<p></p>
<h2>HEFEAT1R (STM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>HEEXTMUXSIZE</td><td class="center">30:28</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Size of Hardware Event external multiplex signals:<br/>3h.</td></tr>
<tr valign=top><td>NUMHE</td><td class="center">23:15</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x40</td><td>The number of hardware events supported by the STM:<br/>40h.</td></tr>
<tr valign=top><td>HECOMP</td><td class="center"> 5:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x3</td><td>Data compression on hardware event tracing support.<br/>3h.</td></tr>
<tr valign=top><td>HEMASTR</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>STMHEMASTR support:<br/>0:</td></tr>
<tr valign=top><td>HEERR</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Hardware event error detection support:<br/>1: implemented</td></tr>
<tr valign=top><td>HETER</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>STMHETER support:<br/>1: implemented</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>