<!doctype html>
<html>
<head>
<title>ITTRIGGER (STM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___stm.html")>STM Module</a> &gt; ITTRIGGER (STM) Register</p><h1>ITTRIGGER (STM) Register</h1>
<h2>ITTRIGGER (STM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ITTRIGGER</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000EE8</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE9C0EE8 (CORESIGHT_SOC_STM)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wo<span class="tooltiptext">Write-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Integration Test for Cross-Trigger Outputs.</td></tr>
</table>
<p></p>
<h2>ITTRIGGER (STM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>ASYNCOUT_W</td><td class="center"> 3</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0</td><td>Sets the value of the ASYNCOUT output in integration mode:<br/>0: Low.<br/>1: High.</td></tr>
<tr valign=top><td>TRIGOUTHETE_W</td><td class="center"> 2</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0</td><td>Sets the value of the TRIGOUTHETE output in integration mode:<br/>0: Low.<br/>1: High.</td></tr>
<tr valign=top><td>TRIGOUTSW_W</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0</td><td>Sets the value of the TRIGOUTSW output in integration mode:<br/>0: Low.<br/>1: High.</td></tr>
<tr valign=top><td>TRIGOUTSPTE_W</td><td class="center"> 0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0</td><td>Sets the value of the TRIGOUTSPTE output in integration mode:<br/>0: Low.<br/>1: High.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>