<!doctype html>
<html>
<head>
<title>HEIDR (STM) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___stm.html")>STM Module</a> &gt; HEIDR (STM) Register</p><h1>HEIDR (STM) Register</h1>
<h2>HEIDR (STM) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>HEIDR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000DFC</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE9C0DFC (CORESIGHT_SOC_STM)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000011</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Read the features of hardware event tracing in STM.</td></tr>
</table>
<p></p>
<h2>HEIDR (STM) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>VENDSPEC</td><td class="center">11:8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>The VENDSPEC field identifies any vendor specific modifications or mappings:<br/>0.</td></tr>
<tr valign=top><td>CLASSREV</td><td class="center"> 7:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>The CLASSREV field identifies the revision of the programmers model:<br/>1.</td></tr>
<tr valign=top><td>CLASS</td><td class="center"> 3:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>The CLASS field identifies the programmers model:<br/>1: control.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>