<!doctype html>
<html>
<head>
<title>CONTROL (SWDT) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___swdt.html")>SWDT Module</a> &gt; CONTROL (SWDT) Register</p><h1>CONTROL (SWDT) Register</h1>
<h2>CONTROL (SWDT) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>CONTROL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000004</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFCB0004 (CSU_WDT)<br/>0x00FF150004 (SWDT)<br/>0x00FD4D0004 (WDT)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>26</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00003FFC</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Counter Control Register</td></tr>
</table>
<p></p>
<h2>CONTROL (SWDT) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>CKEY</td><td class="center">25:14</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Counter access key - writes to the control register are only valid if this field is set to 0x248; this field is write only.</td></tr>
<tr valign=top><td>CRV</td><td class="center">13:2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0xFFF</td><td>Counter restart value - the counter is restarted with the value 0xNFFF, where N is the value of this field.</td></tr>
<tr valign=top><td>CLKSEL</td><td class="center"> 1:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Counter clock prescale - selects the prescaler division ratio:<br/>00 = LPD_LSBUS_CLK clock divided by 8<br/>01 = LPD_LSBUS_CLK clock divided by 64<br/>10 = LPD_LSBUS_CLK clock divided by 512<br/>11 = LPD_LSBUS_CLK clock divided by 4096<br/>Note: If a restart signal is received the prescaler should be reset.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>