<!doctype html>
<html>
<head>
<title>Supported_Port_Sizes (TPIU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___tpiu.html")>TPIU Module</a> &gt; Supported_Port_Sizes (TPIU) Register</p><h1>Supported_Port_Sizes (TPIU) Register</h1>
<h2>Supported_Port_Sizes (TPIU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>Supported_Port_Sizes</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000000</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE980000 (CORESIGHT_SOC_TPIU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000001</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Each bit location represents a single port size that is supported on the device, that is, 32-1 in bit locations [31:0].</td></tr>
</table>
<p></p>
<h2>Supported_Port_Sizes (TPIU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>PORT_SIZE_32</td><td class="center">31</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 32 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_31</td><td class="center">30</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 31 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_30</td><td class="center">29</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 30 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_29</td><td class="center">28</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 29 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_28</td><td class="center">27</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 28 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_27</td><td class="center">26</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 27 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_26</td><td class="center">25</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 26 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_25</td><td class="center">24</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 25 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_24</td><td class="center">23</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 24 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_23</td><td class="center">22</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 23 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_22</td><td class="center">21</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 22 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_21</td><td class="center">20</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 21 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_20</td><td class="center">19</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 20 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_19</td><td class="center">18</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 19 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_18</td><td class="center">17</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 18 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_17</td><td class="center">16</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 17 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_16</td><td class="center">15</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 16 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_15</td><td class="center">14</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 15 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_14</td><td class="center">13</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 14 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_13</td><td class="center">12</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 13 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_12</td><td class="center">11</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 12 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_11</td><td class="center">10</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 11 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_10</td><td class="center"> 9</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 10 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_9</td><td class="center"> 8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 9 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_8</td><td class="center"> 7</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 8 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_7</td><td class="center"> 6</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 7 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_6</td><td class="center"> 5</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 6 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_5</td><td class="center"> 4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 5 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_4</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 4 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_3</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 3 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_2</td><td class="center"> 1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0</td><td>Indicates whether the TPIU supports port size of 2 bits.</td></tr>
<tr valign=top><td>PORT_SIZE_1</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Indicates whether the TPIU supports port size of 1 bit.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>