<!doctype html>
<html>
<head>
<title>Clock_Control_2 (TTC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ttc.html")>TTC Module</a> &gt; Clock_Control_2 (TTC) Register</p><h1>Clock_Control_2 (TTC) Register</h1>
<h2>Clock_Control_2 (TTC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>Clock_Control_2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000004</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF110004 (TTC0)<br/>0x00FF120004 (TTC1)<br/>0x00FF130004 (TTC2)<br/>0x00FF140004 (TTC3)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder> 7</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Clock Control register</td></tr>
</table>
<p></p>
<h2>Clock_Control_2 (TTC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>Ex_E</td><td class="center"> 6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>External Clock Edge: when this bit is set and the extend clock is selected, the counter clocks on the negative going edge of the external clock input.</td></tr>
<tr valign=top><td>C_Src</td><td class="center"> 5</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Clock Source: when this bit is set the counter uses the external clock input, ext_clk; the default clock source is LPD_LSBUS_CLK.</td></tr>
<tr valign=top><td>PS_V</td><td class="center"> 4:1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Prescale value (N): if prescale is enabled, the count rate is divided by 2^(N+1)</td></tr>
<tr valign=top><td>PS_En</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Prescale enable: when this bit is set the counter, clock source is prescaled; the default clock source is that defined by C_Src.the default</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>