<!doctype html>
<html>
<head>
<title>Counter_Control_3 (TTC) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___ttc.html")>TTC Module</a> &gt; Counter_Control_3 (TTC) Register</p><h1>Counter_Control_3 (TTC) Register</h1>
<h2>Counter_Control_3 (TTC) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>Counter_Control_3</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000014</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF110014 (TTC0)<br/>0x00FF120014 (TTC1)<br/>0x00FF130014 (TTC2)<br/>0x00FF140014 (TTC3)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder> 7</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">rw<span class="tooltiptext">Normal read/write</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000021</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Operational mode and reset</td></tr>
</table>
<p></p>
<h2>Counter_Control_3 (TTC) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>Wave_pol</td><td class="center"> 6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Waveform polarity: When this bit is high, the waveform output goes from high to low on Match_1 interrupt and returns high on overflow or interval interrupt; when low, the waveform goes from low to high on Match_1 interrupt and returns low on overflow or interval interrupt.</td></tr>
<tr valign=top><td>Wave_en</td><td class="center"> 5</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Output waveform enable, active low.</td></tr>
<tr valign=top><td>RST</td><td class="center"> 4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Setting this bit high resets the counter value and restarts counting; the RST bit is automatically cleared on restart.</td></tr>
<tr valign=top><td>Match</td><td class="center"> 3</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Register Match mode: when Match is set, an interrupt is generated when the count value matches one of the three match registers and the corresponding bit is set in the Interrupt Enable register.</td></tr>
<tr valign=top><td>DEC</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Decrement: when this bit is high the counter counts down.</td></tr>
<tr valign=top><td>INT</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>When this bit is high, the timer is in Interval Mode, and the counter generates interrupts at regular intervals; when low, the timer is in overflow mode.</td></tr>
<tr valign=top><td>DIS</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Disable counter: when this bit is high, the counter is stopped, holding its last value until reset, restarted or enabled again.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>