<!doctype html>
<html>
<head>
<title>GTXTHRCFG (USB3_XHCI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___usb3_xhci.html")>USB3_XHCI Module</a> &gt; GTXTHRCFG (USB3_XHCI) Register</p><h1>GTXTHRCFG (USB3_XHCI) Register</h1>
<h2>GTXTHRCFG (USB3_XHCI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>GTXTHRCFG</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000C108</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE20C108 (USB3_0_XHCI)<br/>0x00FE30C108 (USB3_1_XHCI)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Global Tx Threshold Control Register<br/>For more information on<br/>- Using this register, refer to 'Architecture Details' chapter.<br/>- Selecting values for the fields of this register.<br/>Note:<br/>- All the fields in GTXTHRCFG register are valid only in Host mode.<br/>- GTXTHRCFG register is not applicable for Debug Target.<br/>- GTXTHRCFG register is not applicable in USB 2.0-only mode.</td></tr>
</table>
<p></p>
<h2>GTXTHRCFG (USB3_XHCI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">30</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>USBTxPktCntSel</td><td class="center">29</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>USB Transmit Packet Count Enable<br/>This field enables/disables the USB transmission multi-packet thresholding:<br/>- 0: USB transmission multi-packet thresholding is disabled; the core can only start transmission on the USB after the entire packet has been fetched into the corresponding TXFIFO.<br/>- 1: USB transmission multi-packet thresholding is enabled. The core can only start transmission on the USB after USB Transmit Packet Count amount of packets for the USB transaction (burst) are already in the corresponding TXFIFO. This mode is only valid in the host mode. It is only used for SuperSpeed.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">28</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>USBTxPktCnt</td><td class="center">27:24</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>USB Transmit Packet Count<br/>This field specifies the number of packets that must be in the TXFIFO before the core can start transmission for the corresponding USB transaction (burst). This field is only valid when the USB Transmit Packet Count Enable field is set to one. Valid values are from 1 to 15.<br/>Note: This field must be less than or equal to the USB Maximum TX Burst Size field.</td></tr>
<tr valign=top><td>USBMaxTxBurstSize</td><td class="center">23:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>USB Maximum TX Burst Size<br/>When USBTxPktCntSel is 1, this field specifies the Maximum Bulk OUT burst the core can execute. When the system bus is slower than the USB, TX FIFO can underrun during a long burst.<br/>You can program a smaller value to this field to limit the TX burst size that the core can execute.<br/>It only applies to SS Bulk, Isochronous, and Interrupt OUT endpoints in the host mode. Valid values are from 1 to 16.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">15</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved_15</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">14</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved1(Rsvd/Rs)<br/>Register field must write only 0 by the application. The read value must be treated as X (unknown).</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">13:11</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved (Rsvd/Rs)<br/>The register field must write only 0 by the application. The read value must be treated as X (unknown).</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">10:0</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved for future use</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>