<!doctype html>
<html>
<head>
<title>HCCPARAMS2 (USB3_XHCI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___usb3_xhci.html")>USB3_XHCI Module</a> &gt; HCCPARAMS2 (USB3_XHCI) Register</p><h1>HCCPARAMS2 (USB3_XHCI) Register</h1>
<h2>HCCPARAMS2 (USB3_XHCI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>HCCPARAMS2</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000001C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE20001C (USB3_0_XHCI)<br/>0x00FE30001C (USB3_1_XHCI)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x0000000B</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Host Controller Capability Parameters 2<br/>For register definitions, refer to the xHCI specification.</td></tr>
</table>
<p></p>
<h2>HCCPARAMS2 (USB3_XHCI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:6</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved</td></tr>
<tr valign=top><td>CIC</td><td class="center"> 5</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Configuration Information Capability (CIC)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
<tr valign=top><td>LEC</td><td class="center"> 4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Large ESIT Payload Capability (LEC)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
<tr valign=top><td>CTC</td><td class="center"> 3</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Compliance Transition Capability (CTC)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
<tr valign=top><td>FSC</td><td class="center"> 2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Force Save Context Capability (FSC)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
<tr valign=top><td>CMC</td><td class="center"> 1</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>Configure Endpoint Command Max Exit Latency Too Large Capability (CMC)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
<tr valign=top><td>U3C</td><td class="center"> 0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>U3 Entry Capability (U3C)<br/>For a description of this standard USB register field, see the eXtensible Host Controller I<br/>nterface for Universal Serial Bus (USB) Specification 3.0.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>