<!doctype html>
<html>
<head>
<title>GHWPARAMS5 (USB3_XHCI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___usb3_xhci.html")>USB3_XHCI Module</a> &gt; GHWPARAMS5 (USB3_XHCI) Register</p><h1>GHWPARAMS5 (USB3_XHCI) Register</h1>
<h2>GHWPARAMS5 (USB3_XHCI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>GHWPARAMS5</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000C154</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE20C154 (USB3_0_XHCI)<br/>0x00FE30C154 (USB3_1_XHCI)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x04204108</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Global Hardware Parameter Register 5</td></tr>
</table>
<p></p>
<h2>GHWPARAMS5 (USB3_XHCI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>ghwparams5_31_28</td><td class="center">31:28</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Reserved</td></tr>
<tr valign=top><td>ghwparams5_27_22</td><td class="center">27:22</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x10</td><td>`DWC_USB3_DFQ_FIFO_DEPTH</td></tr>
<tr valign=top><td>ghwparams5_21_16</td><td class="center">21:16</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x20</td><td>`DWC_USB3_DWQ_FIFO_DEPTH</td></tr>
<tr valign=top><td>ghwparams5_15_10</td><td class="center">15:10</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x10</td><td>`DWC_USB3_TXQ_FIFO_DEPTH</td></tr>
<tr valign=top><td>ghwparams5_9_4</td><td class="center"> 9:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x10</td><td>`DWC_USB3_RXQ_FIFO_DEPTH</td></tr>
<tr valign=top><td>ghwparams5_3_0</td><td class="center"> 3:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x8</td><td>`DWC_USB3_BMU_BUSGM_DEPTH</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>