<!doctype html>
<html>
<head>
<title>GHWPARAMS3 (USB3_XHCI) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___usb3_xhci.html")>USB3_XHCI Module</a> &gt; GHWPARAMS3 (USB3_XHCI) Register</p><h1>GHWPARAMS3 (USB3_XHCI) Register</h1>
<h2>GHWPARAMS3 (USB3_XHCI) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>GHWPARAMS3</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000C14C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FE20C14C (USB3_0_XHCI)<br/>0x00FE30C14C (USB3_1_XHCI)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x0618C089</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Global Hardware Parameter Register 3</td></tr>
</table>
<p></p>
<h2>GHWPARAMS3 (USB3_XHCI) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>ghwparams3_31</td><td class="center">31</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Reserved</td></tr>
<tr valign=top><td>ghwparams3_30_23</td><td class="center">30:23</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0xC</td><td>`DWC_USB3_CACHE_TOTAL_XFER_RESOURCES</td></tr>
<tr valign=top><td>ghwparams3_22_18</td><td class="center">22:18</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x6</td><td>`DWC_USB3_NUM_IN_EPS</td></tr>
<tr valign=top><td>ghwparams3_17_12</td><td class="center">17:12</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0xC</td><td>`DWC_USB3_NUM_EPS</td></tr>
<tr valign=top><td>ghwparams3_11</td><td class="center">11</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>`DWC_USB3_ULPI_CARKIT</td></tr>
<tr valign=top><td>ghwparams3_10</td><td class="center">10</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>`DWC_USB3_VENDOR_CTL_INTERFACE</td></tr>
<tr valign=top><td>ghwparams3_9_8</td><td class="center"> 9:8</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>Reserved</td></tr>
<tr valign=top><td>ghwparams3_7_6</td><td class="center"> 7:6</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x2</td><td>`DWC_USB3_HSPHY_DWIDTH</td></tr>
<tr valign=top><td>ghwparams3_5_4</td><td class="center"> 5:4</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x0</td><td>`DWC_USB3_FSPHY_INTERFACE</td></tr>
<tr valign=top><td>ghwparams3_3_2</td><td class="center"> 3:2</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x2</td><td>`DWC_USB3_HSPHY_INTERFACE</td></tr>
<tr valign=top><td>ghwparams3_1_0</td><td class="center"> 1:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x1</td><td>`DWC_USB3_SSPHY_INTERFACE</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>