<!doctype html>
<html>
<head>
<title>ALG_ENC_MCU_CTRL (VCU_SLCR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___vcu_slcr.html")>VCU_SLCR Module</a> &gt; ALG_ENC_MCU_CTRL (VCU_SLCR) Register</p><h1>ALG_ENC_MCU_CTRL (VCU_SLCR) Register</h1>
<h2>ALG_ENC_MCU_CTRL (VCU_SLCR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ALG_ENC_MCU_CTRL</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000034</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00A0040034 (VCU_SLCR)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00001000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>This register controls this reference clock</td></tr>
</table>
<p></p>
<h2>ALG_ENC_MCU_CTRL (VCU_SLCR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>CLKACT</td><td class="center">12</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>Clock active signal. Switch to 0 to disable the clock</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">11:10</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>DIVISOR0</td><td class="center"> 9:4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>6 bit divider</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 3:1</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>SRCSEL</td><td class="center"> 0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: clock input from PL to be used as encoder mcu clock.<br/>1: clock derived from VCU PLL to be used as encoder mcu clock</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>