<!doctype html>
<html>
<head>
<title>APM1_CFG (VCU_SLCR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___vcu_slcr.html")>VCU_SLCR Module</a> &gt; APM1_CFG (VCU_SLCR) Register</p><h1>APM1_CFG (VCU_SLCR) Register</h1>
<h2>APM1_CFG (VCU_SLCR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>APM1_CFG</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000200</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00A0040200 (VCU_SLCR)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000002</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>APM1_CFG</td></tr>
</table>
<p></p>
<h2>APM1_CFG (VCU_SLCR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>rd_id_lat_ff1</td><td class="center">31:28</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>read ID considered for latency calculation<br/>in 2nd read FIFO</td></tr>
<tr valign=top><td>wr_id_lat_ff1</td><td class="center">27:24</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>write ID considered for latency calculation in 2nd write FIFO</td></tr>
<tr valign=top><td>rd_id_lat_ff0</td><td class="center">23:20</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>read ID considered for latency calculation in 1st read FIFO</td></tr>
<tr valign=top><td>wr_id_lat_ff0</td><td class="center">19:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>write ID considered for latency calculation in 1st write FIFO</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">15:8</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>sel_rd_id_lat_ff1</td><td class="center"> 7</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: rd_lat_id considered for latency calculation<br/>1: All IDs considered for latency calculation</td></tr>
<tr valign=top><td>sel_wr_id_lat_ff1</td><td class="center"> 6</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: wr_lat_id considered for latency calculation<br/>1: All IDs considered for latency calculation</td></tr>
<tr valign=top><td>sel_rd_id_lat_ff0</td><td class="center"> 5</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: rd_lat_id considered for latency calculation<br/>1: All IDs considered for latency calculation</td></tr>
<tr valign=top><td>sel_wr_id_lat_ff0</td><td class="center"> 4</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: wr_lat_id considered for latency calculation<br/>1: All IDs considered for latency calculation</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 3</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>mode</td><td class="center"> 2</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>0: Contineous Timing Mode. Mode 1 in the APM specification<br/>1: Burst Timing Mode. Mode 2 in the APM specification</td></tr>
<tr valign=top><td>enable</td><td class="center"> 1</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x1</td><td>0: APM disabled<br/>1: APM Enabled</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center"> 0</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>