<!doctype html>
<html>
<head>
<title>R05_START (XMPU_DDR) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xmpu_ddr.html")>XMPU_DDR Module</a> &gt; R05_START (XMPU_DDR) Register</p><h1>R05_START (XMPU_DDR) Register</h1>
<h2>R05_START (XMPU_DDR) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>R05_START</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000150</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD000150 (DDR_XMPU0_CFG)<br/>0x00FD010150 (DDR_XMPU1_CFG)<br/>0x00FD020150 (DDR_XMPU2_CFG)<br/>0x00FD030150 (DDR_XMPU3_CFG)<br/>0x00FD040150 (DDR_XMPU4_CFG)<br/>0x00FD050150 (DDR_XMPU5_CFG)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Region 5 Start Address.</td></tr>
</table>
<p>Refer to R00_START for more information.</p>
<h2>R05_START (XMPU_DDR) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:28</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>ADDR</td><td class="center">27:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Bits [27:8] correspond to address bits [39:20].<br/>Bits [7:0] are reserved.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>