<!doctype html>
<html>
<head>
<title>ISR (XMPU_FPD) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xmpu_fpd.html")>XMPU_FPD Module</a> &gt; ISR (XMPU_FPD) Register</p><h1>ISR (XMPU_FPD) Register</h1>
<h2>ISR (XMPU_FPD) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ISR</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000010</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FD5D0010 (FPD_XMPU_CFG)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Status and Clear.</td></tr>
</table>
<p>AXI and APB Access Violations. READ: 0: no interrupt request. 1: interrupt requested. WRITE: 0: no effect. 1: clear bit to 0. If a Status bit is 1 and its Mask is 0, then the IRQ interrupt signal is activated to the interrupt controller. The first AXI violation is recorded. Once an ISR[3:1] status bit is set, subsequent AXI violations are not recorded, but their transactions are poisoned. The status bits are cleared by a system reset and can be cleared by software.</p>
<h2>ISR (XMPU_FPD) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:4</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>SecurityVIO</td><td class="center"> 3</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Security Violation by AXI Master. Two conditions can cause a security violation:<br/>1) A non-secure master tries to access a secure memory space.<br/>2) A secure master tries to access a non-secure memory space and Rxx_CONFIG [NSCheckType] = 1 (strict checking).<br/>Note: a secure transaction is detected when AxPROT[1] = 0.</td></tr>
<tr valign=top><td>WrPermVIO</td><td class="center"> 2</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Write Permission Violation by AXI Master. Write access attempted to enabled region with WrAllowed = 0. Or the transaction missed in the Region list and CNTRL [DefWrAllowed] = 0.</td></tr>
<tr valign=top><td>RdPermVIO</td><td class="center"> 1</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Read Permission Violation by AXI Master.<br/>Read access attempted to enabled region with RdAllowed = 0. Or the transaction missed in the Region list and CNTRL [DefRdAllowed] = 0.</td></tr>
<tr valign=top><td>INV_APB</td><td class="center"> 0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Register Access Error on APB. A register access was requested to an unimplemented register location.<br/>The PSLVERR error signal is also asserted back to the APB interconnect.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>