<!doctype html>
<html>
<head>
<title>POISON (XPPU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xppu.html")>XPPU Module</a> &gt; POISON (XPPU) Register</p><h1>POISON (XPPU) Register</h1>
<h2>POISON (XPPU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>POISON</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000000C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF98000C (LPD_XPPU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x000FF9C0</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Poison Address for Sink.</td></tr>
</table>
<p>The XPPU supports address poisoning only.</p>
<h2>POISON (XPPU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:20</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>BASE</td><td class="center">19:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0xFF9C0</td><td>Poison Base Address, value fixed at 0x0FF9C0.<br/>The XPPU replaces the incoming AXI address with 0x000_FF9C_0xxx where xxx = bits [11:0] of the incoming address. Downstream, the XPPU_Sink unit responds to the transaction.<br/>Read-only.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>