<!doctype html>
<html>
<head>
<title>MASTER_ID19 (XPPU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xppu.html")>XPPU Module</a> &gt; MASTER_ID19 (XPPU) Register</p><h1>MASTER_ID19 (XPPU) Register</h1>
<h2>MASTER_ID19 (XPPU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>MASTER_ID19</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000014C</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF98014C (LPD_XPPU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Master Profile 19. Any master; programmable.</td></tr>
</table>
<p>Refer to MASTER_ID00 for more information.</p>
<h2>MASTER_ID19 (XPPU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>MIDP</td><td class="center">31</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Parity protection for [MIDR], [MIDM] and [MID].</td></tr>
<tr valign=top><td>MIDR</td><td class="center">30</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Allow only read transactions.<br/>0: read or write okay.<br/>1: read transactions only.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">29:26</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>MIDM</td><td class="center">25:16</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Master ID mask. Applied to transaction Master ID and [MID] bit field.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">15:10</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>MID</td><td class="center"> 9:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0x0</td><td>Master ID; subject to [MIDM] mask. Predefined value may be changed to profile another master or set of masters.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>