<!doctype html>
<html>
<head>
<title>APERPERM_290 (XPPU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xppu.html")>XPPU Module</a> &gt; APERPERM_290 (XPPU) Register</p><h1>APERPERM_290 (XPPU) Register</h1>
<h2>APERPERM_290 (XPPU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>APERPERM_290</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000001488</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF981488 (LPD_XPPU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Aperture 290. IPI 32B buffer at 0xFF99_0440</td></tr>
</table>
<p>Refer to APERPERM_256 register for more information.</p>
<h2>APERPERM_290 (XPPU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>PARITY</td><td class="center">31:28</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Parity for bits in this register.<br/>Bit 28: [4:0].<br/>Bit 29: [9:5].<br/>Bit 30: [14:10].<br/>Bit 31: [27], [19:15].<br/>Note: Software calculates and writes these bits.</td></tr>
<tr valign=top><td>TRUSTZONE</td><td class="center">27</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Security status requirement per TrustZone.<br/>0: secure master only.<br/>1: secure or non-secure master okay.</td></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">26:20</td><td class="tooltip grayback">ro<span class="tooltiptext">Read-only</span></td><td class="hex grayback">0x0</td><td class=grayback>reserved</td></tr>
<tr valign=top><td>PERMISSION</td><td class="center">19:0</td><td class="tooltip">rw<span class="tooltiptext">Normal read/write</span></td><td class="hex">0</td><td>Master ID Profile Permission. Each permission bit [19:0] corresponds to a MASTER_IDxx register. To allow a master to access this aperture, set the corresponding bit.<br/>0: not allowed.<br/>1: allowed.<br/>More than one bit can be set to permit more than one master to access the aperture.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>