<!doctype html>
<html>
<head>
<title>M_APERTURE_64KB (XPPU) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xppu.html")>XPPU Module</a> &gt; M_APERTURE_64KB (XPPU) Register</p><h1>M_APERTURE_64KB (XPPU) Register</h1>
<h2>M_APERTURE_64KB (XPPU) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>M_APERTURE_64KB</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000044</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF980044 (LPD_XPPU)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">ro<span class="tooltiptext">Read-only</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000100</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Number of 64-kB Apertures Implemented for IOP CSRs.</td></tr>
</table>
<p>The control and status registers for the peripherals are sectioned into 64-kB blocks. Control of each block can be configured.</p>
<h2>M_APERTURE_64KB (XPPU) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>NO</td><td class="center">31:0</td><td class="tooltip">ro<span class="tooltiptext">Read-only</span></td><td class="hex">0x100</td><td>256 apertures of 64 kB each, value is fixed at 256.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>