<!doctype html>
<html>
<head>
<title>isr (XPPU_SINK) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___xppu_sink.html")>XPPU_SINK Module</a> &gt; isr (XPPU_SINK) Register</p><h1>isr (XPPU_SINK) Register</h1>
<h2>isr (XPPU_SINK) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>isr</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x000000FF10</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FF9CFF10 (LPD_XPPU_SINK)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder> 1</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Status and Clear.</td></tr>
</table>
<p></p>
<h2>isr (XPPU_SINK) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td>addr_decode_err</td><td class="center"> 0</td><td class="tooltip">wtc<span class="tooltiptext">Readable, write a 1 to clear</span></td><td class="hex">0x0</td><td>Access violation (poisoned AXI transaction or register access error).<br/>READ:<br/>0: no interrupt.<br/>1: interrupt asserted.<br/>WRITE:<br/>0: no effect.<br/>1: clear bit to 0.<br/>If a Status bit is 1 and its Mask is 0, then the interrupt signal is active to the interrupt controllers.<br/>The ERR_CTRL [PSLVERR] can enable a violation event to cause the XMPU_Sink to assert the PSLVERR signal back to the APB interconnect.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>