<!doctype html>
<html>
<head>
<title>ZDMA_CH_IEN (ZDMA) Register</title>
<meta name="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_register_reference.css')}}">
<script src="xilfunctions.js" type="text/javascript"></script>
</head>
<body>
<p class=header><a href=# onclick=gotoTopic("_overview.html")>Zynq UltraScale+ Devices Register Reference</a> &gt; <a href=# onclick=gotoTopic("_module_summary.html")>Module Summary</a> &gt; <a href=# onclick=gotoTopic("mod___zdma.html")>ZDMA Module</a> &gt; ZDMA_CH_IEN (ZDMA) Register</p><h1>ZDMA_CH_IEN (ZDMA) Register</h1>
<h2>ZDMA_CH_IEN (ZDMA) Register Description</h2>
<table class=noborder>
<tr valign=top><th width=20% class=sumparam>Register Name</th><td width=80% class=noborder>ZDMA_CH_IEN</td></tr>
<tr valign=top><th class=sumparam>Relative Address</th><td class=noborder id="registerOffset">0x0000000108</td></tr>
<tr valign=top><th class=sumparam>Absolute Address</th><td class=noborder>
0x00FFA80108 (ADMA_CH0)<br/>0x00FFA90108 (ADMA_CH1)<br/>0x00FFAA0108 (ADMA_CH2)<br/>0x00FFAB0108 (ADMA_CH3)<br/>0x00FFAC0108 (ADMA_CH4)<br/>0x00FFAD0108 (ADMA_CH5)<br/>0x00FFAE0108 (ADMA_CH6)<br/>0x00FFAF0108 (ADMA_CH7)<br/>0x00FD500108 (GDMA_CH0)<br/>0x00FD510108 (GDMA_CH1)<br/>0x00FD520108 (GDMA_CH2)<br/>0x00FD530108 (GDMA_CH3)<br/>0x00FD540108 (GDMA_CH4)<br/>0x00FD550108 (GDMA_CH5)<br/>0x00FD560108 (GDMA_CH6)<br/>0x00FD570108 (GDMA_CH7)
</td></tr>
<tr valign=top><th class=sumparam>Width</th><td class=noborder>32</td></tr>
<tr valign=top><th class=sumparam>Type</th><td class="tooltip2 noborder">mixed<span class="tooltiptext">Mixed types. See bit-field details.</span></td></tr>
<tr valign=top><th class=sumparam>Reset Value</th><td class=noborder>0x00000000</td></tr>
<tr valign=top><th class=sumparam>Description</th><td class=noborder>Interrupt Enable Register. A write of to this location will unmask the interrupt. (IMR: 0)</td></tr>
</table>
<p></p>
<h2>ZDMA_CH_IEN (ZDMA) Register Bit-Field Summary</h2>
<table>
<tr valign=top><th width=20%>Field Name</th><th width=10%>Bits</th><th width=10%>Type</th><th width=10%>Reset Value</th><th width=50%>Description</th></tr>
<tr valign=top><td class="grayback">Reserved</td><td class="grayback center">31:12</td><td class="tooltip grayback">raz<span class="tooltiptext">Read as zero</span></td><td class="hex grayback">0x0</td><td class=grayback>Reserved for future use</td></tr>
<tr valign=top><td>DMA_PAUSE</td><td class="center">11</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when DMA channel goes in pause state</td></tr>
<tr valign=top><td>DMA_DONE</td><td class="center">10</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when DMA channel is done (with or without error)</td></tr>
<tr valign=top><td>AXI_WR_DATA</td><td class="center"> 9</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when AXI Write Error occurred on write data channel</td></tr>
<tr valign=top><td>AXI_RD_DATA</td><td class="center"> 8</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when AXI Read Error occurred on read data channel</td></tr>
<tr valign=top><td>AXI_RD_DST_DSCR</td><td class="center"> 7</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when AXI Read Error occurred on DST DSCR fetch</td></tr>
<tr valign=top><td>AXI_RD_SRC_DSCR</td><td class="center"> 6</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when AXI Read Error occurred on SRC DSCR fetch</td></tr>
<tr valign=top><td>IRQ_DST_ACCT_ERR</td><td class="center"> 5</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when DST Interrupt account counter overflows; Interrupt account counter value is not valid if this interrupt is set</td></tr>
<tr valign=top><td>IRQ_SRC_ACCT_ERR</td><td class="center"> 4</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when SRC Interrupt account counter overflows; Interrupt account counter value is not valid if this interrupt is set</td></tr>
<tr valign=top><td>BYTE_CNT_OVRFL</td><td class="center"> 3</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when byte count counter overflow; Counter value is not valid if this interrupt is set</td></tr>
<tr valign=top><td>DST_DSCR_DONE</td><td class="center"> 2</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set at the completion of DST Descriptor element. Completion indicates data has been written to the memory and BRESP has been received.</td></tr>
<tr valign=top><td>SRC_DSCR_DONE</td><td class="center"> 1</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set at the completion of SRC Descriptor. Completion indicates data has been read, but it may be in DMA buffer (and not yet written to destination).</td></tr>
<tr valign=top><td>INV_APB</td><td class="center"> 0</td><td class="tooltip">wo<span class="tooltiptext">Write-only</span></td><td class="hex">0x0</td><td>Interrupt is set when an APB register access occurs to an unimplemented space.</td></tr>
</table><p id=foot class=footer></p>
</body>
</html>